@charset "utf-8";
/******************************************************************
Theme Name: hummingbird
Theme URI: http://open-cage.com/hummingbird/
Description: Hummingbird（ハチドリ）は足が退化してしまってほとんど歩くことができない。（枝にとまることはできる。）それは飛び続けないと移動できないということを意味する。ブロガーも同じ。記事を見てもらうには書き続けないといけないのです。デザイン的にほとんどカスタマイズする必要のないHummingbirdを使って「とにかく書くこと」に集中してほしいのです。
Version: 1.2.7
Author: opencage
Author URI: http://open-cage.com/

License: GNU General Public License
License URI: licence.txt
******************************************************************/


/* ==========================================================================
HTML5 display definitions
========================================================================== */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
display: block; }
audio,
canvas,
video {
display: inline-block; }
audio:not([controls]) {
display: none;
height: 0; }
[hidden],
template {
display: none; }

/* ==========================================================================
Base
========================================================================== */
html {
font-family: sans-serif;
-ms-text-size-adjust: 100%;
-webkit-text-size-adjust: 100%;}
body {margin: 0; }

/* ==========================================================================
Links
========================================================================== */
a {
background: transparent; }
a:focus {
outline: thin dotted; }
a:active,a:hover {
outline: 0; }

/* ==========================================================================
Typography
========================================================================== */
/* Googleフォント　※フォントを変更した場合はこちらも変更 */
.gf{
font-family: 'Ubuntu Condensed', sans-serif;
font-weight: normal;
}
h1 {
font-size: 2em;
margin: 0.67em 0; }
abbr[title] {
border-bottom: 1px dotted; }
b,strong,.strong {
font-weight: bold; }
dfn,em,.em {
font-style: italic; 
border-bottom: 1px dotted pink;
}
hr {
margin: 1.8em 0;
padding: 0;
border: 0;
height: 5px;
background: url(library/images/line01.png) repeat-x 0 0;
}
p {
-webkit-hyphens: auto;
-epub-hyphens: auto;
-moz-hyphens: auto;
hyphens: auto; }
pre {
margin: 0; }
code,
kbd,
pre,
samp {
font-family: monospace, serif;
font-size: 0.9em; 
padding: 0.05em 0.4em;
border-radius: 3px;
background: #F6F6F6;
color: #444;
}
pre {
white-space: pre-wrap; }
q {
quotes: "\201C" "\201D" "\2018" "\2019"; }
q:before,
q:after {
content: '';
content: none; }
small, .small {
font-size: 75%; }
sub,sup {
font-size: 75%;
line-height: 0;
position: relative;
vertical-align: baseline; }
sup {
top: -0.5em; }
sub {
bottom: -0.25em; }

/* ==========================================================================
Lists
========================================================================== */
dl,
menu,
ol,
ul {
margin: 1em 0; }

dd {
margin: 0; }
.gallery {
margin: .5em auto 2em!important;
}
.gallery dl{
margin:0!important;
}
.gallery dl img{
margin-bottom:0;
border: none!important;
padding: 1px;
}
menu {
padding: 0 0 0 40px; }
ol,
ul {
padding: 0;
list-style-type: none; }
.entry-content ul li{
position:relative;
padding-left: 1em;
margin: 3px 0;
}
.entry-content ul li:before{
content:" ";
width: 7px;
height: 7px;
background: #3E3E3E;
-webkit-box-shadow: -1px -1px 1px rgba(97, 97, 97, 0.15) inset;
-moz-box-shadow: -1px -1px 1px rgba(97, 97, 97, 0.15) inset;
box-shadow: -1px -1px 1px rgba(97, 97, 97, 0.15) inset;
display:block;
position:absolute;
-webkit-border-radius:50%;
-moz-border-radius:50%;
border-radius:50%;
left: 2px;
top: 9px;
}
.entry-content ul li ul li:before{
width: 5px;
height: 5px;
top: 10px;
}
.entry-content ul li ul li ul li:before{
width:7px;
height:2px;
top:10px;
-webkit-border-radius:0;
-moz-border-radius:0;
border-radius:0;
}
.entry-content ol{
counter-reset: number;
}
.entry-content ol li{
list-style:none;
position:relative;
padding-left: 1.4em;
}
.entry-content ol li:before{
counter-increment: number;
content: counter(number);
background: #3E3E3E;
color:#fff;
width:1.5em;
height:1.5em;
font-size: 0.7em;
font-weight:bold;
font-family: 'Lato', sans-serif;
display:block;
text-align:center;
line-height:1.5em;
border-radius:50%;
position:absolute;
left:0;
top: 3px;
}
.entry-content ol li ol li:before{
background:#666;
font-size:10px;
line-height:1.4;
}
.entry-content ol li li ol li:before{
background:#ccc;
color:#555;
}
nav ul,
nav ol {
list-style: none;
list-style-image: none; }

/* ==========================================================================
Embedded content
========================================================================== */
img {
border: 0; 
vertical-align: bottom;
max-width: 100%;
height: auto;
}
svg:not(:root) {
overflow: hidden; }

/* ==========================================================================
Figures
========================================================================== */

figure {
margin: 0; }

/* ==========================================================================
Forms
========================================================================== */
fieldset {
border: 1px solid #c0c0c0;
margin: 0 2px;
padding: 0.35em 0.625em 0.75em; }
legend {
border: 0;
padding: 0;
}
button,
input,
select,
textarea {
font-family: inherit;
font-size: 100%;
margin: 0;
}
button,
input {
line-height: normal; }
button,
select {
-webkit-appearance:none;
-moz-appearance:none;
appearance:none;
text-transform: none; }
select::-ms-expand {
display: none;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
-webkit-appearance: button;
cursor: pointer; }
button[disabled],
html input[disabled] {
cursor: default; }

input[type="checkbox"],
input[type="radio"] {
box-sizing: border-box;
padding: 0;
}
input[type="search"] {
-webkit-appearance: textfield;
-moz-box-sizing: content-box;
-webkit-box-sizing: content-box;
box-sizing: content-box; }
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
-webkit-appearance: none; }
button::-moz-focus-inner,
input::-moz-focus-inner {
border: 0;
padding: 0; }
textarea {
overflow: auto;
vertical-align: top;
}

/* ==========================================================================
Tables
========================================================================== */
table {
border-collapse: collapse;
border-spacing: 0; }
* {
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box; }
.image-replacement,
.ir {
text-indent: 100%;
white-space: nowrap;
overflow: hidden; }
.clearfix, .cf, .comment-respond,.widget ul li {
zoom: 1; }
.clearfix:before, .clearfix:after, .cf:before, .comment-respond:before, .cf:after, .comment-respond:after ,.widget ul li:before ,.widget ul li:after{
content: "";
display: table; }
.clearfix:after, .cf:after, .comment-respond:after, .widget ul li:after {
clear: both; }
span.amp {
font-family: Baskerville,'Goudy Old Style',Palatino,'Book Antiqua',serif !important;
font-style: italic; }
p {
-ms-word-break: break-all;
-ms-word-wrap: break-all;
word-break: break-word;
word-break: break-word;
-webkit-hyphens: auto;
-moz-hyphens: auto;
hyphens: auto;
-webkit-hyphenate-before: 2;
-webkit-hyphenate-after: 3;
hyphenate-lines: 3; }
.alert-help, .alert-info, .alert-error, .alert-success {
margin: 10px;
padding: 5px 18px;
border: 1px solid; }
.alert-help {
border-color: #e8dc59;
background: #ebe16f; }
.alert-info {
border-color: #bfe4f4;
background: #d5edf8; }
.alert-error {
border-color: #f8cdce;
background: #fbe3e4; }
.alert-success {
border-color: #deeaae;
background: #e6efc2; }
.blue-btn, .comment-reply-link, #submit {
display: inline-block;
position: relative;
font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
text-decoration: none;
color: white;
font-size: 0.9em;
font-size: 34px;
line-height: 34px;
font-weight: normal;
padding: 0 24px;
border-radius: 4px;
border: 0;
cursor: pointer;
-webkit-transition: background-color 0.14s ease-in-out;
transition: background-color 0.14s ease-in-out; }
.blue-btn:hover, .comment-reply-link:hover, #submit:hover, .blue-btn:focus, .comment-reply-link:focus, #submit:focus {
color: white;
text-decoration: none; }
.blue-btn:active, .comment-reply-link:active, #submit:active {
top: 1px; }


.blue-btn, .comment-reply-link, #submit {
background-color: #e55937;
}
.blue-btn:hover, .comment-reply-link:hover, #submit:hover, .blue-btn:focus, .comment-reply-link:focus, #submit:focus {
background-color: #2574a8; }

/*********************
INPUTS
*********************/
input[type="text"],input[type="password"],input[type="datetime"],input[type="datetime-local"],input[type="date"],input[type="month"],input[type="time"],input[type="week"],input[type="number"],input[type="email"],input[type="url"],input[type="search"],input[type="tel"],input[type="color"],select,textarea,.field {
display: block;
height: 40px;
line-height: 40px;
padding: 0 4%;
margin-bottom: 14px;
font-size: 1em;
color: #666;
border-radius: 3px;
vertical-align: middle;
-webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.15) inset;
-moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.15) inset;
box-shadow: 0 0 5px rgba(0, 0, 0, 0.15) inset;
border: 0;
width: 92%;
width: 100%\9;/*IE9用 */
max-width: 92%;
max-width: 100%\9;/*IE9用 */
background-color: #FFFFFF;
-webkit-transition: background-color 0.24s ease-in-out;
transition: background-color 0.24s ease-in-out;
}
#main input[type="text"],#main input[type="password"],#main input[type="datetime"],#main input[type="datetime-local"],#main input[type="date"],#main input[type="month"],#main input[type="time"],#main input[type="week"],#main input[type="number"],#main input[type="email"],#main input[type="url"],#main input[type="search"],#main input[type="tel"],#main input[type="color"],#main select,#main textarea,#main .field {
padding: 0 2%;
width: 96%;
width: 100%\9; /*IE9用 */
max-width: 96%;
max-width: 100%\9; /*IE9用 */
}
#main textarea{
padding: 2%;
}
input[type="text"]:focus, input[type="text"]:active,input[type="password"]:focus,input[type="password"]:active,input[type="datetime"]:focus,input[type="datetime"]:active,input[type="datetime-local"]:focus,input[type="datetime-local"]:active,input[type="date"]:focus,input[type="date"]:active,input[type="month"]:focus,input[type="month"]:active,input[type="time"]:focus,input[type="time"]:active,input[type="week"]:focus,input[type="week"]:active,input[type="number"]:focus,input[type="number"]:active,input[type="email"]:focus,input[type="email"]:active,input[type="url"]:focus,input[type="url"]:active,input[type="search"]:focus,input[type="search"]:active,input[type="tel"]:focus,input[type="tel"]:active,input[type="color"]:focus,input[type="color"]:active,select:focus,select:active,textarea:focus,textarea:active,.field:focus,.field:active {
background-color: #f7f8fa; }

input[type="password"] {
letter-spacing: 0.3em; }
textarea {
max-width: 100%;
min-height: 120px;
line-height: 1.5em; }
select {
-webkit-appearance: none;
background-image: url(library/images/select_arrow.png);
background-repeat: no-repeat;
background-position: 97.5% center;
background-size:9px; }
/* IE10用 */
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
input[type="text"],input[type="password"],input[type="datetime"],input[type="datetime-local"],input[type="date"],input[type="month"],input[type="time"],input[type="week"],input[type="number"],input[type="email"],input[type="url"],input[type="search"],input[type="tel"],input[type="color"],select,textarea,.field {width: 92%;max-width: 92%;}
}

/*********************
GENERAL STYLES
*********************/
body {
font-family: "Lato", "ヒラギノ角ゴシック Pro", "Hiragino Kaku Gothic Pro", 'メイリオ' , Meiryo , Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
font-size: 100%;
line-height: 1.5;
color: #545B63;
-webkit-font-smoothing: antialiased; 
-moz-osx-font-smoothing: grayscale;
word-wrap: break-word;
}

/*********************
LAYOUT & GRID STYLES
*********************/
.wrap {
width: 96%;
margin: 0 auto;
}
.last-col {
float: right;
padding-right: 0 !important; }

/*********************
LINK STYLES
*********************/
a {
color: #e55937;}
a:hover {
color: #E69B9B; }
/*リンクをゆっくりと */
a,
a img{
-webkit-transition: 0.3s ease-in-out;  
-moz-transition: 0.3s ease-in-out;  
-o-transition: 0.3s ease-in-out;  
transition: 0.3s ease-in-out; 
}
/*画像をマウスオーバーで半透明に */
a:hover img{
filter: alpha(opacity=70);
-ms-filter: "alpha(opacity=70)";
opacity:0.7;
}
a:link, a:visited:link {
-webkit-tap-highlight-color: rgba(0, 0, 0, 0.3); }
/* 外部リンク - External Link */
.entry-content a[target="_blank"]:after {
font-family: 'FontAwesome';
content: '\f08e';
font-size:0.9em;
margin:0 3px 0 2px;
}
/* 外部リンク画像の場合にアイコンを消すクラス */
.entry-content a.no-icon[target="_blank"]:after{
content:none;
}

/******************************************************************
H1, H2, H3, H4, H5 STYLES
******************************************************************/
h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5 {
text-rendering: optimizelegibility;
font-family: "Lato", "游ゴシック体", "Yu Gothic", YuGothic, "ヒラギノ角ゴシック Pro", "Hiragino Kaku Gothic Pro", 'メイリオ' , Meiryo , Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
font-weight: 500;
}
h1 a, .h1 a, h2 a, .h2 a, h3 a, .h3 a, h4 a, .h4 a, h5 a, .h5 a {
text-decoration: none; }
h1, .h1 {
font-size: 1.5em;
font-weight: bold;
line-height: 1.333em; }
h2, .h2 {
font-size: 1.5em;
line-height: 1.4em;
font-weight: bold;
margin-bottom: 0.375em; }
h3, .h3 {
font-size: 1.3em; 
font-weight: bold;
}
h4, .h4 {
font-size: 1.2em;
font-weight: 700; }
h5, .h5 {
font-size: 1em;
font-weight: 700;
line-height: 2em;
text-transform: uppercase;
letter-spacing: 1px; }

/*********************
HEADER STYLES
*********************/
#custom_header{
width:100%;
text-align:center;
color:#fff;
}
#custom_header .wrap{
display:table;
table-layout:fixed;
padding: 2.5em 0;
background: url(library/images/shadow1.png) center bottom no-repeat;
background-size: 90% auto;
}
#custom_header .wrap > div{
display:table-cell;
vertical-align:middle;
}
#custom_header .header-eyecatch{
width:40%;
}
#custom_header .header-text{
width:60%;
-webkit-text-shadow: 0 2px 5px rgba(45, 45, 45, 0.05);
-moz-text-shadow: 0 2px 5px rgba(45, 45, 45, 0.08);
text-shadow: 0 2px 1px rgba(45, 45, 45, 0.08);
}
#custom_header .en{
font-size: 3em;
font-weight: normal;margin: 0.3em 0;
line-height: 1;

letter-spacing: -1px;
}
#custom_header .ja{
font-size: 13px;
margin:0;
}
#custom_header .btn-wrap{
margin:2.5em 0 0;
}
#custom_header .btn-wrap a{
padding:1em 2.5em;
color:#fff;
border-color:#fff;
font-size:0.95em;
min-width: 55%;
-webkit-text-shadow: 0 2px 5px rgba(45, 45, 45, 0.05);
-moz-text-shadow: 0 2px 5px rgba(45, 45, 45, 0.08);
text-shadow: 0 2px 1px rgba(45, 45, 45, 0.08);
position: relative;
font-weight: 500;
}
#custom_header .btn-wrap a:hover{
background:none;
filter: alpha(opacity=40);
-ms-filter: "alpha(opacity=40)";
opacity:0.4;
}
#custom_header.text_bk .header-text,
#custom_header.text_bk .btn-wrap a{
border-color:#333;
color:#333;
}
#custom_header.layoutcenter .header-eyecatch,
#custom_header.layoutcenter .header-text{
width: 100%;
display: block;
}
#custom_header.layoutcenter .header-text{
margin: 1.5em 0 2em;
}
.home #content{
margin-top: 1.5em;
}
.home_widget{
font-size: .88em;
margin: 0 auto 1.9em;
max-width: 728px;
}
.home_widget > div{
margin-bottom: 1.5em;
}
.page-full .home_widget{
max-width: 100%;
}
.home_widget .widget{
margin:0;
}
.header {
background-color: #e55937; }
#inner-header{
position:relative;
padding-top: 5px;
}
#logo {
padding: 0;
}
#logo .h1{
margin:0;
padding:0;
font-size: 1em;
}
#logo .h1.text{
font-size: 26px;
}
#logo a {
color: #fff;
width: 100%;
padding: 0 0 0.2em;
display: table-cell;
vertical-align:middle;
text-align:center;
text-decoration:none;
}
#inner-header.descriptionnone{
padding-top: 10px;
}
.site_description{
font-size: 11px;
margin: 1px 0;
}
.site_description:empty{
display:none;
}
.subnav .linklist{
float: right;
margin-left: 1em;
}
.subnav .linklist li{
display:inline;
margin-right:1em;
}
.subnav .linklist li a{
text-decoration:none;
color:#fff;
}
.subnav .linklist li a:hover{
text-decoration:underline;
}
.subnav .linklist li a:before{
font-family:"fontawesome";
content:'\f0da';
margin-right:0.3em;
color: #fff;
filter: alpha(opacity=90);
-ms-filter: "alpha(opacity=90)";
opacity: 0.9;
}
.subnav .linklist li a span{
display:none;
}
#breadcrumb{
font-size:11px;
margin-top: 1.5em;
margin-bottom: 1.5em;
}
#breadcrumb ul{
margin:0;
}
#breadcrumb li:first-child{
margin-left:0;
}
#breadcrumb li{
float:left;
margin-left:0.5em;
}
#breadcrumb li:after{
content:'>';
margin-left:0.5em;
}
#breadcrumb li:last-child:after{
display:none;
}
#breadcrumb li a{
color:#666;
text-decoration:none;
}

/*********************
NAVIGATION STYLES
*********************/
.nav {
border-bottom: 0;
}
.nav li a {
display: block;
color: white;
text-decoration: none;
padding: 0.75em;
position:relative;
}
.nav li a:hover{
color:#ffff33;
}
.nav > li > a{
padding: 0.3em 1em 0.6em;
}
.nav li a .gf{
display:block;
text-align:center;
width:100%;
font-size: 0.85em;
font-weight: normal;
}
.nav li a .gf:empty{
display:none;
}
.nav li li{
text-align:left;
}
.nav li li .gf{
display:none;
}
.nav li ul.sub-menu li a,
.nav li ul.children li a {
padding-left: 15px; }

/*********************
POSTS & CONTENT STYLES
*********************/
.single #main article,
.page #main article {
margin-bottom: 1em;
}
#main article header {
padding: 0;
margin-bottom: 2em;
}
#main article .eyecatch{
text-align:center;
overflow:hidden;
position:relative;
}
#main article .eyecatch img{
margin:0;
height: auto;
}
#main article footer {
padding: 1em 0;
}
#main article footer h4{
margin:0.5em 0;
}
#main article footer p {
margin: 0; }

#main article footer .post-categories,
#main article footer .tags{
margin:0;
display:inline-block;
}
#main article footer .post-categories li,
#main article footer .tags a{
display:inline-block;
}
#main article footer .post-categories li a,
#main article footer .tags a{
display:inline-block;
background: #e55937;
color:#fff;
padding:0.4em 0.5em;
margin-right:0.3em;
margin-bottom: 2px;
text-decoration:none;
border:1px solid #e55937;
line-height:1.1;
font-size:0.75em;
}
#main article footer .tags a{
background:none;
color:#e55937;
margin-top:-1px;
}
#main article footer .post-categories a:before,
#main article footer .tags a:before{
font-family:"fontawesome";
content:'\f02b';
margin-right:0.2em;
}
#main article footer .post-categories a:before{
content:'\f07b';
}
#main article footer .post-categories li a:hover,
#main article footer .tags a:hover{
background:#E69B9B;
color:#fff;
border-color:#E69B9B;
}
.entry-content h2{
position: relative;
border: none;
font-size:1.25em;
padding: 1em 1.1em;
margin-top: 2.1em;
margin-bottom: 1em;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;
background: #e55937;
color:#fff;
box-shadow: 0 0 45px rgba(0, 0, 0, 0.25) inset;
}
.entry-content h2:before,
.entry-content h2:after{
content:'';
display:block;
width:100%;
position:absolute;
border-top:1px dashed;
}
.entry-content h2:before{
top:3px;
left:0;
}
.entry-content h2:after{
bottom:3px;
left:0;
}
.entry-content h3{
border-left:4px solid;
padding: .7em 0 .7em .8em;
margin-top: 1.8em;
}

.h_simple .entry-content h2,
.h_simple .widgettitle{
	box-shadow: none;
}
.h_simple .entry-content h2:before,
.h_simple .entry-content h2:after{
	content: none;
}
.h_simple .widgettitle span{
	border: none;
}

/* 投稿ページ下のエリア */
.single .authorbox,
.single .related-box{
border-radius: 4px;
margin-bottom: 1em;
}
.single .np-post a,
.single .authorbox a,
.single .related-box a{
color:#444;
}
.single .np-post a:hover,
.single .authorbox a:hover,
.single .related-box a:hover{
color:#999;
}
.single .np-post .h_ttl,
.single .authorbox .h_ttl,
.single .related-box .h_ttl{
font-size: 12px;
text-align: left;
margin: 1em 0;
padding: 1em .1em;
background: url(library/images/line01.png) repeat-x bottom;
}
.single .np-post .h_ttl span,
.single .authorbox .h_ttl span,
.single .related-box .h_ttl span{
font-size: 1.8em;
margin-right: 0.5em;
position:relative;
bottom:-2px;
font-weight:normal;
}
.single .authorbox .profile img {
width:16%;
float:left;
margin:1.5% 2% 1.5% 0;
border:4px solid #fff;
box-shadow:0 0 10px #ddd;
}
.single .authorbox .profile .name{
font-size:1em;
font-weight:bold;
margin:2em 0 0.5em;
}
.single .authorbox .profile a{
text-decoration:none;
color:#444;
}
.single .authorbox .profile .profile_description{
font-size:0.8em;
padding-left:18%;
}
.single .authorbox .profile .author_sns{
text-align:center;
margin:2em 0 0;
}
.single .authorbox .profile .author_sns li{
display:inline-block;
font-size: 0.8em;
margin-right: 1.2em;
}
.single .authorbox .profile .author_sns li i{
font-size:1.1em;
margin-right:0.3em;
}
.single .authorbox .author-newpost li,
.related-box li{
width:24%;
min-height: 190px;
margin:0 1% 1% 0;
float:left;
position:relative;
}
.single .authorbox .author-newpost li .eyecatch,
.related-box li .eyecatch{
height: 100px;
overflow: hidden;
text-align: center;
background: #ddd;
}
.single .authorbox .author-newpost li a,
.related-box li a{
display:block;
text-decoration:none;
}
.single .authorbox .author-newpost li .cat-name,
.related-box li .cat-name{
position:absolute;
top:0;
right:0;
padding:0.1em 0.5em;
font-size:10px;
font-weight: bold;
background: #e55937;
color:#fff;
text-align:center;
filter: alpha(opacity=90);
-ms-filter: "alpha(opacity=90)";
opacity: 0.9;
}
.single .authorbox .author-newpost li .date,
.related-box li .date{
font-size:11px;
font-weight:normal;
}
.single .authorbox .author-newpost li .ttl,
.related-box li .ttl{
font-size:12px;
margin:0;
}

/* 次・前の記事 */
.np-post{
padding: 0;
margin-bottom:1.5em;
}
.np-post .np-post-list{
word-break:break-all;
margin-bottom: .8em;
}
.np-post a{
width:100%;
display: table;
font-size:.9em;
text-decoration:none;
}
.np-post a .eyecatch{
display: table-cell;
vertical-align: middle;
text-align:center;
position: relative;
width: 64px;
padding-right: 12px;
padding-left: 12px;}

.np-post a .eyecatch img{
width: 100%;
}
.np-post a .ttl{
display: table-cell;
vertical-align: middle;
}
.np-post .next{
text-align: right;
}
.np-post .next a .eyecatch:after,
.np-post .prev a .eyecatch:before{
font-family:"fontawesome";
line-height: 40px;
padding: 0 3px;
position: absolute;
background: url(library/images/line01.png) repeat;
} 
.np-post .next a .eyecatch:after{
content:'\f105';
right: 0;
}
.np-post .prev a .eyecatch:before{
content:'\f104';
left: 0;
}
.home_link i{
font-size: 30px;
padding: 5px 10px;
}

/* ページタイトル */
.single-title,
.page-title,
.entry-title {
margin: 0.3em 0;
}
.single-title,
.page-title{
padding: 0 0 .5em;
font-size: 1.5em;
background: url(library/images/line01.png) repeat-x bottom;
}
.single-title:empty,
.page-title:empty{
display: none;
}
.byline {
margin: 0; }
.byline .date{
font-weight:bold;
font-size: 0.95em;
filter: alpha(opacity=70);
-ms-filter: "alpha(opacity=70)";
opacity: 0.7;
margin-right: 0.8em;
}
.byline .date:before{
font-family: "fontawesome";
content: "\f101";
font-size: .88em;
margin-right: .3em;
position: relative;
top:-1px;
}
.byline .date:before{
content: "\f274";
}
.byline .date.undo:before{
content: "\f0e2";
}
.byline .undo{
	display: none;
}
.date_on .byline .undo{
	display: inline-block;
}
.undo_off .undo,
.date_off .date{
display: none!important;
}
.byline .writer{
float:right;
font-size:0.75em;
margin-top: 2px;
}
.byline .writer a{
color:#666;
text-decoration:none;
}
.byline .cat-name{
background: #e55937;
color:#fff;
padding: 0.2em 0.4em;
margin-top: 0.3em;
margin-left: 0.9em;
font-size: 0.7em;
float:right;
transform: rotate(3deg);
-moz-transform: rotate(3deg);
-webkit-transform: rotate(3deg);
}
.byline .cat-name:before{
font-family: "fontawesome";
content: "\f08d";
color: #fff;
font-size: 1.15em;
display: inline-block;
margin-right: .5em;
transform: rotate(-20deg);
-moz-transform: rotate(-20deg);
-webkit-transform: rotate(-20deg);
}
/* entry content */
.entry-content {
padding: 0 0 1.5em;
overflow: hidden;
}
.entry-content p {
margin: 0 0 1.6em; 
line-height: 1.75;
}
.entry-content table {
width: 100%;
font-size: 0.95em;
border: 1px solid #efefef;
margin-bottom: 1.5em;
}
.entry-content table caption {
margin: 0 0 7px;
font-size: 0.75em;
color: #9fa6b4;
text-transform: uppercase;
letter-spacing: 1px; }
.entry-content tr {
border-bottom: 1px solid #efefef;
}
.entry-content td {
padding: .8em;
border-right: 1px solid #efefef;
background: #fff;background: rgba(255, 255, 255, 0.6);}
.entry-content td input{
margin:3px 0;
}
.entry-content td:last-child {
border-right: 0; }
.entry-content th {
background-color: #eee;
background-color: rgba(0,0,0,0.1);
border-bottom: 1px solid #efefef;
border-right: 1px solid #efefef;
padding: 7px;
}
.entry-content th:last-child {
border-right: 0; }
.entry-content blockquote{
color: #555;
border:1px solid #ddd;
background: #eee;
background: rgba(53, 53, 53, 0.05);
margin: 3em 0;
font-size: 0.95em;
padding:2.5em 2.5em 1em;
border-radius:3px;
position:relative;
}
.entry-content blockquote:before,
.entry-content blockquote:after{
font-family: 'FontAwesome';
position:absolute;
width:1em;
height:1em;
display:block;
text-align:center;
font-size:20px;
line-height:1;
color:#999;
opacity: 20;
filter: alpha(opacity=20);
-ms-filter: "alpha(opacity=20)";
}
.entry-content blockquote:before{
content:'\f10d';
left:0.4em;
top:0.4em;
}
.entry-content blockquote:after{
content:'\f10e';
right:0.4em;
bottom:0.4em;
}
.entry-content blockquote h1,
.entry-content blockquote h2,
.entry-content blockquote h3,
.entry-content blockquote h4{
margin-top:0!important;
}
.entry-content dd {
margin-left: 0;
font-size: 0.9em;
color: #787878;
margin-bottom: 1.5em; }
.entry-content img {
margin: 0 0 1.5em 0;
max-width: 100%;
height: auto;
}
.entry-content .size-auto,
.entry-content .size-full,
.entry-content .size-large,
.entry-content .size-medium,
.entry-content .size-thumbnail {
max-width: 100%;
height: auto; }
.entry-content pre {
background: #666;
background: rgba(0, 0, 0, 0.54);
color: #f8f9fa;
font-size: 0.9em;
padding: 1.7em;
margin: 0.2em 0 2.2em;
border-radius: 5px;
}
.wp-caption {
max-width: 100%;
background: #eee;
background: rgba(0, 0, 0, 0.1);padding: 5px;
margin-bottom: 1.8em;
}
.wp-caption img {
max-width: 100%;
margin-bottom: 0;
width: 100%; }
.wp-caption p.wp-caption-text {
font-size: 0.75em;
margin: 4px 0;
text-align: center; }

iframe { max-width: 100%; }
.tags {
margin: 0; }
/* simpleタイプ */
.top-post-list{
border-top: 1px dotted #ccc;
border-top: 1px dotted rgba(0,0,0,.2);
}
.top-post-list .post-list{
font-size: 13px;
}
.top-post-list .post-list a{
display:block;
padding: 1.8em 0.3em;
text-decoration:none;
color: #666;
border-bottom: 1px dotted #ccc;
border-bottom: 1px dotted rgba(0,0,0,.2);
}
.top-post-list .post-list a:hover{
-webkit-box-shadow:0 0 30px rgba(0, 0, 0, 0.1) inset;
-moz-box-shadow:0 0 30px rgba(0, 0, 0, 0.1) inset;
box-shadow:0 0 30px rgba(0, 0, 0, 0.1) inset;
}
.top-post-list .post-list .eyecatch{
width:36%;
float:left;
max-height: 170px;
overflow: hidden;
position:relative;
margin-right: 0;
}
.top-post-list .post-list .eyecatch .cat-name{
position:absolute;
top:0;
right:0;
background:#e55937;
color:#fff;
font-size:0.8em;
font-weight:bold;
padding:0.1em 0.5em;
min-width:8em;
opacity: .9;
filter: alpha(opacity=90);
-ms-filter: "alpha(opacity=90)";
}
.top-post-list .post-list .entry-content{
padding: 0 0 0 4%;
}
.top-post-list .post-list .entry-content .entry-title{
font-size:1.6em;
margin-top: 0;
margin-bottom:0.3em;
color:#444;
}
.top-post-list .post-list .entry-content p{
margin-bottom:0.3em;
}
/* card型 */
.post-list-card{
margin-left:-1%;
margin-right:-1%;
}
.post-list-card .post-list{
font-size: 13px;
width:48%;
margin: 0 1% 2.5%;
float:left;
overflow:hidden;
height:390px;
}
@media only screen and (min-width: 768px) and (max-width: 1099px) {
.post-list-card .post-list{
width:31.3333%;
}
}
.post-list-card .post-list a{
display:block;
padding: 1em;
text-decoration:none;
color: #666;
background: #fff;
height:100%;
border: 1px solid #eee;
}
.post-list-card .post-list a:hover{
-webkit-box-shadow:0 0 30px rgba(0, 0, 0, 0.1) inset;
-moz-box-shadow:0 0 30px rgba(0, 0, 0, 0.1) inset;
box-shadow:0 0 30px rgba(0, 0, 0, 0.1) inset;
}
.post-list-card .post-list a:hover .eyecatch img{
-webkit-transform: scale(1.1);
-moz-transform: scale(1.1);
transform: scale(1.1);
}
.post-list-card .post-list .eyecatch{
max-height:200px;
background: #000;
margin:-1em -1em 0.5em;
text-align:center;
overflow: hidden;
position:relative;
}
.post-list-card .post-list .eyecatch .cat-name{
position:absolute;
top:0;
right:0;
background:#e55937;
color:#fff;
font-size:0.88em;
font-weight:bold;
padding:0.1em 0.5em;
min-width:7.5em;
filter: alpha(opacity=90);
-ms-filter: "alpha(opacity=90)";
opacity: 0.9;
}
.post-list-card .post-list .entry-content{
padding:0;
}
.post-list-card .post-list .entry-content .entry-title{
font-size:1.3em;
margin-top: 0.5em;
margin-bottom:0.3em;
color:#444;
}
.post-list-card .post-list .entry-content p{
font-size:11px;
margin-bottom:0.3em;
}

.post-list-big article{
padding: 2em 0;
background: url(library/images/line01.png) repeat-x bottom;
}
.post-list-big article .eyecatch{
margin-bottom: 1em;
}
.post-list-big article .h2 a{
color: #333;
}
.post-list-big article .h2 a:hover{
color: #999;
}
/* ================================================== */
/* ウィジェット */
/* ================================================== */
.widget{
margin-bottom:1.5em;
}
.widget a{
text-decoration:none;
color:#666;
}
.widget a:hover{
color:#999;
}
.widgettitle {
background: #e55937;
color: #fff;
font-size: 1em;
padding: 3px 0;
border-radius: 3px;
margin-bottom: 0.75em;
overflow: hidden;
box-shadow: 0 0 20px rgba(0, 0, 0, 0.2) inset;}
.widgettitle span{
border-top: 1px dashed #FFF;
border-bottom: 1px dashed #FFF;display:block;
width: 100%;
height: 100%;
padding: 0.75em 0.8em;


}
.widget ul{
margin:0;
}
/* ウィジェットカテゴリー・新着記事 */
.widget.widget_categories .widgettitle,
.widget.widget_recent_entries .widgettitle,
.widget.widget_nav_menu .widgettitle,
.widget.widget_pages .widgettitle,
.widget.widget_archive .widgettitle,
.widget.widget_mycategoryorder .widgettitle{
margin-bottom:0;
}
.widget.widget_categories ul,
.widget.widget_recent_entries ul,
.widget.widget_nav_menu ul,
.widget.widget_pages ul,
.widget.widget_archive ul,
.widget.widget_mycategoryorder ul{
margin-top: 0;
}
.widget.widget_categories ul li,
.widget.widget_recent_entries li,
.widget.widget_nav_menu li,
.widget.widget_pages li,
.widget.widget_archive li,
.widget.widget_mycategoryorder li{
border-bottom: 1px dotted #ccc;
border-bottom: 1px dotted rgba(0,0,0,.2);
margin:0;
padding:0;
}
.widget .children li:first-child{
border-top: 1px dotted #ccc;
border-top: 1px dotted rgba(0,0,0,.2);
}
.widget li.page_item_has_children {
border-bottom:none!important;
}
.widget.widget_categories li a,
.widget.widget_recent_entries li a,
.widget.widget_nav_menu li a,
.widget.widget_pages li a,
.widget.widget_archive li a,
.widget.widget_mycategoryorder li a{
display:block;
padding: 1em 1.2em 1em 0.3em;
margin:0;
position:relative;
}
.widget.widget_categories li:last-child,
.widget.widget_recent_entries li:last-child,
.widget.widget_nav_menu li:last-child,
.widget.widget_pages li:last-child,
.widget.widget_archive li:last-child,
.widget.widget_mycategoryorder li:last-child{
border-bottom:none;
}
.widget.widget_categories li a:after,
.widget.widget_recent_entries li a:after,
.widget.widget_nav_menu li a:after,
.widget.widget_pages li a:after,
.widget.widget_archive li a:after,
.widget.widget_mycategoryorder li a:after{
font-family:"fontawesome";
content: '\f054';
position:absolute;
right: 0.2em;
font-size: 1em;
color: #e55937;
top:50%;
margin-top: -0.5em;
}
.widget li a:hover:after{
right:2px;
-webkit-transform: translate(1px, 0);
-moz-transform: translate(1px, 0);
transform: translate(1px, 0);
}
/* ドロップダウンスタイルの変更 */
.widget select{
margin-top:1em;
width:100%;
max-width:100%;
}
/* ドロップダウンにした時のlabelを非表示 */
.widget.widget_categories label,
.widget.widget_archive label{
display:none;
}
/* リスト 下の階層 */
.widget.widget_nav_menu li ul,
.widget.widget_pages li ul,
.widget.widget_categories li ul{
padding:0;
margin:0;
}
.widget.widget_nav_menu li ul a,
.widget.widget_pages li ul a,
.widget.widget_categories li ul a{
padding-left:0.8em;
}
.widget.widget_nav_menu li ul ul a,
.widget.widget_pages li ul ul a,
.widget.widget_categories li ul ul a{
padding-left:1.6em;
}
.widget.widget_nav_menu li ul li:last-child,
.widget.widget_pages li ul li:last-child,
.widget.widget_categories li ul li:last-child{
border:none;
}
.widget.widget_nav_menu li ul li a,
.widget.widget_pages li ul li a{
padding-left:0.5em;
}
.widget.widget_nav_menu li ul li a:before,
.widget.widget_pages li ul li a:before{
content:'− ';
}
/* コメント */
.widget.widget_recent_comments ul{
margin-top:0;
}
.widget.widget_recent_comments li{
border-bottom: 1px dotted #ccc;
border-bottom: 1px dotted rgba(0,0,0,.2);
margin:0;
padding:0.5em 0;
}
.widget.widget_recent_comments li:first-child{
border-top:none;
}
.widget.widget_recent_comments li:last-child{
border-bottom:none;
}

/* ウィジェット検索フォーム */
.widget.widget_search .searchform{
position:relative;
height: 40px;
}
.widget.widget_search input[type="search"]{
position:absolute;
}
.widget.widget_search button{
position:absolute;
right:0;
top:0;
border:0;
background: none;
font-size:0.9em;
height:40px;
padding:0 1em;
}
/* ウィジェット カレンダー */
.widget.widget_calendar table{
width:100%;
text-align:center;
}
/* ウィジェット タグクラウド */
.widget.widget_tag_cloud a{
padding: 0.1em 0.5em;
margin: 0 0.1em 0.2em 0;
display:inline-block;
font-size: 12px!important;
background: #999;
background: rgba(51, 51, 51, 0.45);
color: #fff;
}
.widget.widget_tag_cloud a:hover{
filter: alpha(opacity=60);
-ms-filter: "alpha(opacity=60)";
opacity:0.6;
color:#fff;
}
/* カスタムメニューのスパンを非表示 */
.widget.widget_nav_menu li a span{
display:none;
}

/* 広告 */
.add .widget_text,
.add.more{
text-align:center;
font-size:0.95em;
}
.add a[target="_blank"]:after{
content:none;
}
.add .widget img{
margin:0;
}
.entry-content .add .widget{
margin:2em 0;
}
.entry-content .add.titleunder .widget{
margin-top:0;
}
/* 新着記事のサムネイル */
.widget.widget_recent_entries li .eyecatch{
width: 30%;
max-width: 100px;
float:left;
margin-bottom:0.5em;
margin-right:0.5em;
}
.widget.widget_recent_entries li span,
.widget li span.date{
padding:0 0.3em;
font-size:0.9em;
opacity: .5;
filter: alpha(opacity=50);
-ms-filter: "alpha(opacity=50)";
display:inline-block;
}
/* 人気記事表示（プラグイン WordPress Popular Posts 用） */
ul.wpp-list{
counter-reset: number;
}
ul.wpp-list li{
list-style:none;
position:relative;
border-bottom:1px solid #ddd;
margin: 0;
padding-bottom:0.75em;
}
ul.wpp-list li a:before{
counter-increment: number;
content: counter(number);
background: #000000;
margin-right:3px;
color:#fff;
width:1.5em;
height:1.5em;
font-size:0.75em;
font-weight:bold;
font-family: 'Lato', sans-serif;
display:block;
text-align:center;
line-height:1.5em;
position:absolute;
left:0;
top:0;
}
ul.wpp-list img{
margin-bottom:0;
margin-right: 5px;
}
ul.wpp-list li a.wpp-post-title{
display:block;
}
ul.wpp-list li a.wpp-post-title:before,
ul.wpp-list li .wpp-author a:before,
ul.wpp-list li .wpp-category a:before{
content:none;
}
/* TOC+プラグイン */
#toc_container li:before{
content:none;
}
#toc_container{
padding:1em 2em 1em!important;
min-width: 90%;
margin: auto;
background: #fff!important;
background: rgba(255, 255, 255, 0.5)!important;
border: 1px solid #eee;
}
#toc_container p.toc_title{
margin-bottom: .7em;
}
#toc_container ul{
margin: 0!important;;
}
#toc_container li a{
display: block;
padding: .5em 0;
border-top: 1px dotted #ddd;
}
#toc_container li li a{
padding-left: .7em;
}
#toc_container li .toc_number{
margin-right: .5em
}

/******************************************************************
PAGE STYLES
******************************************************************/
/* 問い合わせフォームプラグイン「MW WP FORM」用 */
.mw_wp_form table input[type="radio"]{
margin-right:4px;
}
.mw_wp_form input[type="submit"],
.wpcf7-submit{
background:#333;
color:#fff;
border:none;
padding:1.5em 3em;
min-width:50%;
max-width:90%;
display:block;
margin:2.5em auto;
}
.mw_wp_form input[type="submit"]:hover,
.wpcf7-submit:hover{
background: #888;
}
/* ページ内の検索フォーム */
.entry-content .searchform{
position:relative;
}
.entry-content .searchform button{
background:none;
border:none;
position:absolute;
top:7px;
right:10px;
}

/******************************************************************
ARCHIVE PAGE STYLES
******************************************************************/
.archivettl{
}
.archivettl h1{
font-size:1.1em;
margin:0 0 1.5em;
padding:0 0.1em 0.8em;
background: url(library/images/line01.png) repeat-x bottom;
}
.archivettl h1 span{
display:block;
font-size:10px;
line-height:1.3;
font-weight:normal;
}
.archivettl .is_author{
text-align: center;
}
.archivettl .is_author:after{
content: "の記事一覧";
}
.archivettl .is_author .author-icon img{
-webkit-border-radius:50%;
-moz-border-radius:50%;
border-radius:50%;
width:80px;
margin-bottom:1.3em;
border:2px solid #fff;
box-shadow:0 0 10px #ddd;
}
.taxonomy-description{
font-size: 0.9em;
margin-bottom: 2.5em;
}
.readmore{
text-align:left;
margin-bottom:0.5em;
}
.readmore a{
text-decoration:none;
border:1px solid #e55937;
color:#e55937;
text-align:center;
display:inline-block;
font-size:0.9em;
padding: 0.7em 1.5em 0.7em 2em;
max-width:100%;
}
.readmore a:hover{
background:#e55937;
color:#fff;
}
.readmore a:after{
font-family:"fontawesome";
content:'\f105';
margin-left:1em;
}

/* ページネーション・ページ分け */
.pagination,
.wp-prev-next {
margin: 3em 0 4em;
}
.pagination,
.page-links {
text-align: center; }
.pagination ul,
.page-links ul{
display: block;
text-align: center;
margin:0;
padding:0;
clear: both;
}
.pagination:empty,
.wp-prev-next:empty,
.pagination ul:empty,
.page-links ul:empty{
display:none;
}
.pagination li,
.page-links li{
margin: 0!important;
padding:0!important;
display: inline-block;
}
.entry-content .page-links li:before{
content:none;
}
.pagination a, .pagination span,
.page-links a , .page-links ul > li > span{
margin: 0;
padding: 9px 14px;
text-decoration: none;
line-height: 1;
font-size: 1em;
font-weight: normal;
color: #e55937;
border: 1px solid #e55937;
}
.pagination span.dots,
.page-links ul > li > span.dots{
background: none!important;
padding-left: 11px;
padding-right: 11px;
}
.pagination a:hover, .pagination a:focus, .pagination span:hover, .pagination span:focus,
.page-links a:hover, .page-links a:focus{
background-color: #e55937;
color: white; }
.pagination .current,
.page-links ul > li > span{
cursor: default;
color: #fff;
background-color: #e55937; }
.pagination .current:focus,
.pagination .dots:hover, .pagination .dots:focus {
color: #111;}

/******************************************************************
COMMENT STYLES
******************************************************************/
/* h3 comment title */
#comments-title {
padding: 0.75em 0;
margin: 0;

}
.commentlist {
margin: 0;
list-style-type: none;
font-size: 0.9em;
}
.comment,
.pingback {
clear: both;
overflow: hidden;
padding: 1.5em;
font-size: 0.9em;
border-bottom: 1px solid #f8f9fa;
}
.comment .comment {
font-size:1em;
}
.comment .comment-meta,
.pingback .comment-meta{
padding:0;
}
.comment .comment-author {
padding: 7px;
border: 0; }
.comment .vcard {
/* margin-left: 50px; */ }
.comment .vcard cite.fn {
font-weight: 700;
font-style: normal; }
.comment-metadata{
font-size:0.8em;}
.comment .vcard time {
display: block;
font-size: 0.9em;
font-style: italic; }
.comment .vcard time a {
color: #9fa6b4;
text-decoration: none; }
.comment .vcard time a:hover {
text-decoration: underline; }
.comment .vcard .avatar {
margin-left:-3px;
border-radius: 50%; }
.comment:last-child,
.pingback:last-child {
margin-bottom: 0; }
.comment .children,
.pingback .children {
margin: 0;}
.comment[class*=depth-],
.pingback[class*=depth-] {
margin-top: 1.1em; }
.comment.depth-1,
.pingback.depth-1 {
margin-left: 0;
margin-top: 0; }
.comment:not(.depth-1),
.pingback:not(.depth-1) {
margin-top: 0;
margin-left: 7px;
padding: 7px; }
.comment.odd,
.pingback.odd {
background-color: white; }
.comment.even,
.pingback.even {
background: #FAF9F8;
}
.comment_content p {
margin: 0.7335em 0 1.5em;
font-size: 1em;
line-height: 1.5em; }
.comment-reply-link {
font-size: 0.8em;
float: right;
font-weight: bold;
margin-top: 0.8em;
margin-bottom: 1em;
}
.comment-edit-link {
font-style: italic;
margin: 0 7px;
text-decoration: none;
font-size: 0.9em; }
.comment-navigation{
text-align:center;
padding:1em;
}

/******************************************************************
COMMENT FORM STYLES
******************************************************************/
.comment-respond {
padding: 1.5em 0;
background: url(library/images/line01.png) repeat-x top center;}
#reply-title {
margin: 0;
padding:0.5em 0; }
#reply-title:before{
font-family:"fontawesome";
content:"\f27b";
font-weight:normal;
margin-right:0.2em;
font-size:1.2em;
}
.comment-respond p{
font-size:.85em;
}
.comment-respond .comment-notes{
margin-bottom:1.5em;
}
.logged-in-as {
font-style: italic;
margin: 0; }
.logged-in-as a {
}
.comment-form-comment {
margin: 1.5em 0 0.75em; }
.form-allowed-tags {
padding: 1.5em;
background-color: #F9F9F9;
font-size: 0.9em; }
#submit {
font-size: 1em;}
#comment-form-title {
margin: 0 0 1.1em; }
#allowed_tags {
margin: 1.5em 10px 0.7335em 0; }
.nocomments {
margin: 0 20px 1.1em; }
.no-widgets {
background-color: white;
padding: 1.5em;
text-align: center;
border: 1px solid #cccccc;
border-radius: 2px;
margin-bottom: 1.5em; }

/*********************
FOOTER STYLES
*********************/

/* ページトップへ */
#page-top {
position: fixed;
right: 20px;
z-index: 99999;
}
#page-top a {
background-repeat: no-repeat;
text-decoration: none;
width: 55px;
height: 55px;
text-align: center;
line-height: 55px;
background: rgba(51, 51, 51, 0.5);
padding: 0;
display: block;
color: #fff;
}
#footer-top{
background-color: #0E0E0E;
border-bottom:1px solid;
font-size:0.9em;
position: relative;
}
.footer a,
#footer-top a{
color: #BAB4B0;
text-decoration:none;
}
.footer a:hover,
#footer-top a:hover{
text-decoration:underline;
}
.footer a .gf,
#footer-top a .gf{
display:none;
}
#footer-top .widget{
margin-top:2em;
background: none;
}
#footer-top ul{
border-top: 1px dashed rgba(216, 216, 216, 0.15);
}
#footer-top li{
border-bottom: 1px dashed rgba(216, 216, 216, 0.15);
}
#footer-top .widgettitle{
background:none;
-webkit-box-shadow: none;
-moz-box-shadow: none;
box-shadow: none;
padding:1em 0.2em;
color: #CACACA;
}
#footer-top .widgettitle span{
border:none;
padding:0;
-webkit-box-shadow: none;
-moz-box-shadow: none;
box-shadow: none;
}
.footer {
clear: both;
background-color: #0E0E0E;
color: #878C94;
}
.footer .copyright .create{
display:inline-block;
}

/*********************
POSTS & CONTENT STYLES
*********************/
.alignleft, img.alignleft {
margin-right: 1.5em;
display: inline;
float: left;}
.alignright, img.alignright {
margin-left: 1.5em;
display: inline;
float: right;}
.aligncenter, img.aligncenter {
margin-right: auto;
margin-left: auto;
display: block;
clear: both; }


/*********************
TABLET & SMALLER LAPTOPS
*********************/
@media only screen and (min-width: 768px) {
#container{
overflow:hidden;
}
#container.sidebarleft #main{
float:right;
}
#container.sidebarleft .sidebar{
float:left;
}
#logo{
display:inline-block;
float:left;
}
#logo .img{
margin-bottom: 6px;
}
#logo img{
max-height: 36px;
}
.header.headercenter{
text-align:center;
padding-top:1em;
}
.header.headercenter #logo{
float:none;
display:block;
margin:.2em auto .9em;
}
.header.headercenter #logo .h1{
display: inline-block;
}
.header.headercenter #logo a{
display:block;
}
.header.headercenter #logo img{
max-height:90px;
}
.header.headercenter #g_nav{
float:none;
}
.nav_btn{
display: none;
}

/*********************
NAVIGATION STYLES
*********************/
.header form{
width:100px;
max-width:100%;
margin-top:7px;
font-size: .7em;
display: inline-block;
float: right;
position:relative;
  z-index: 1;
}
.header form input{
width:80%;
width: 80%\9; /* IE9用 */
max-width: 80%; 
max-width: 80%\9; /* IE9用 */
height:22px;
line-height: 22px;
padding:2% 10%;
border-radius: 1em;
position: absolute;
right: 0;
-webkit-transition: 0.3s ease-in-out;
-moz-transition: 0.3s ease-in-out;
-o-transition: 0.3s ease-in-out;
transition: 0.3s ease-in-out;
}
.header form input:focus{
width:200%;
max-width: 200%; 
}
.header form button{
position:absolute;
right:2px;
top:5px;
border:0;
background:none;
}
#g_nav,
#g_nav .nav{
display:inline-block;
}
#g_nav{
float: right;
}
.nav {
margin:0;
border: 0;
}
.nav > li {
float: left;
position: relative;
font-weight:bold;
}
.nav > li{
font-size: 13px;
text-align:center;
}
.nav li a {
border-bottom: 0;}
.nav ul {
margin-top: 0;}
.nav li ul.sub-menu,
.nav li ul.children {
margin-top: 0;
position: absolute;
z-index: 8999;
}
.nav li ul.sub-menu li,
.nav li ul.children li {
position: relative;
overflow: hidden;
height: 0;
transition: .2s;
}
.nav li:hover > ul.sub-menu > li,
.nav li:hover > ul.children > li{
overflow: visible;
height: 36px;
}
.nav li ul.sub-menu li a,
.nav li ul.children li a {
display:block;
width:240px;
}
.nav li ul.sub-menu li a:hover,
.nav li ul.children li a:hover{
filter: alpha(opacity=80);
-ms-filter: "alpha(opacity=80)";
opacity:0.8;
} 
.nav li ul.sub-menu li:last-child a,
.nav li ul.children li:last-child a {
border-bottom: 0; }
.nav li ul.sub-menu li ul,
.nav li ul.children li ul {
top: 0;
left: 100%; }

/*********************
SIDEBARS & ASIDES
*********************/
.sidebar {
font-size: .9em;
}
.widget {
margin: 0 0 3em; }
.widget ul li {
margin-bottom: 0.75em;
}
.widget ul li ul {
margin-top: 0.75em;
padding-left: 1em; }

/*********************
FOOTER STYLES
*********************/
#inner-footer nav{
display:inline-block;
float:left;
}
.footer-links ul{
padding:0;
margin:1em 0;
}
.footer-links ul li {
display:inline;
font-size: 0.8em;
}
.footer-links ul li:after{
content:'　|　';
}
.footer-links ul li:last-child:after{
content:none;
}
.footer-links ul li a{
text-decoration:none;
}
.footer .copyright {
font-size:0.8em;
padding: 0.6em 0;
float: right;
display: inline-block;
}
}

/*********************
DESKTOP ONLY
*********************/
@media only screen and (min-width: 1100px) {
.wrap {
width: 1100px; }
.cta-inner{
padding: 1em 2em;
}
}

/*********************
RETINA (2x RESOLUTION DEVICES)
*********************/
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
}

/*--------------------------------
SNS
---------------------------------*/
.sharewrap{
padding: 1em 0;
}
.sharewrap h3{
margin:0.5em 0;
}
.share{
width:101%;
}
.sns{
margin:0 auto;
text-align:center;
}
.sns ul {
list-style:none;
}
.sns li {
float:left;
width: 49%;
margin: 0 1% 2% 0;
}
.sns li a {
font-size:80%;
position:relative;
display:block;
padding:10px;
color:#fff;
border-radius: 2px;
text-align:center;
text-decoration: none;
text-shadow:1px 1px 0 rgba(255,255,255,0.3);
}
.sns li a:before,
.sns li a i{
margin-right:0.2em;
margin-left:0.2em;
font-size:1.1em;
}
.sns li a:hover {
-webkit-transform: translate3d(0px, 3px, 1px);
-moz-transform: translate3d(0px, 3px, 1px);
transform: translate3d(0px, 3px, 1px);
box-shadow:none;
}
.sns li a .text{
font-weight:bold;
}
.sns li a .count{
font-size:10px;
margin-left: 2px;
}

/* ツイッター */
.sns .twitter a {
background:#00acee;
box-shadow:0 3px 0 #0092ca;
}
.sns .twitter a:hover {
background:#0092ca;
}

/* Facebook */
.sns .facebook a {
background:#3b5998;
box-shadow:0 3px 0 #2c4373;
}
.sns .facebook a:hover {
background:#2c4373;
}

/* グーグル */
.sns .googleplus a {
background:#db4a39;
box-shadow:0 3px 0 #ad3a2d;
}
.sns .googleplus a:hover {
background:#ad3a2d;
}

/* はてぶ */
.sns  .hatebu a {
background:#5d8ac1;
box-shadow:0 3px 0 #43638b;
}
.sns .hatebu a:hover {
background:#43638b;
}
.sns  .hatebu a:before{
content:'B!';
font-weight:bold;
line-height: 1;
} 

/* LINE */
.sns  .line a {
background:#25af00;
box-shadow:0 3px 0 #219900;
}
.sns .line a:hover {
background:#219900;
}

/* Pocket */
.sns  .pocket a {
background:#f03e51;
box-shadow:0 3px 0 #c0392b;
}
.sns  .pocket a:hover {
background:#c0392b;
}

/* RSS */
.sns  .rss a {
background:#ffb53c;
box-shadow:0 3px 0 #e09900;
}
.sns  .rss a:hover {
background:#e09900;
}

/* Feedly */
.sns  .feedly a {
background:#87c040;
box-shadow:0 3px 0 #74a436;
}
.sns  .feedly a:hover {
background:#74a436;
}
.share.short .sns li {
width: 19%;
margin:0 1% 0 0;
}
.share.short .sns li a{
padding: 8px 4px;
}

/* 記事下のfacebookいいねボタン */
.fb-likebtn{
display:table;
background: #111;
color: #fff;
text-align: center;
margin: 1em 0 0;
width:100%;
max-width: 100%;
}
.fb-likebtn .fb-button{
transform: scale(1.2);
-webkit-transform: scale(1.2);
-moz-transform: scale(1.2);
overflow: hidden;
}
.fb-likebtn .eyecatch,
.fb-likebtn .rightbox{
display:table-cell;
width: 50%;
vertical-align:middle;
border: none;
}
.fb-likebtn .eyecatch img{
width: 100%;
}
.fb-likebtn .like_text{
font-size: 1.05em;
margin-top:1em;
font-weight: bold;
line-height: 1.4;
}
.fb-likebtn .like_text p{
margin-bottom: 1em;
}
.fb-likebtn .like_text .small{
font-size: 11px;
color: #ccc;
margin-bottom:0;
}

@media only screen and (max-width: 767px) {
.fb-likebtn .fb-button{
transform: scale(1);
-webkit-transform: scale(1);
-moz-transform: scale(1);
}
.fb-likebtn .like_text{
font-size: .9em;
}
.fb-likebtn .like_text p{
margin-bottom: 0;
padding: 0;
}
}

/*
Mobile Grid Styles
*/
@media only screen and (max-width: 767px) {
/*   グリッドシステム */
.m-all {
float: left;
padding-right: 0.75em;
width: 100%;
padding-right: 0;
margin-bottom: .5em; }
.m-1of2 {
float: left;
padding-right: 0.75em;
width: 50%; }
.m-1of3 {
float: left;
padding-right: 0.75em;
width: 33.33%; }
.m-2of3 {
float: left;
padding-right: 0.75em;
width: 66.66%; }
.m-1of4 {
float: left;
padding-right: 0.75em;
width: 25%; }
.m-3of4 {
float: left;
padding-right: 0.75em;
width: 75%; }

.home #content,
.blog #content{
margin:0;
}

/* スマホ用スライドメニュー */
.nav_btn{
width: 55px;
height: 100%;
padding: 0;
border: none;
background: none;
text-align: center;
font-size: 1.3em;
position: absolute;
top: 0;
left: 0;
color: #fff;transition-duration: .2s;}
.open .nav_btn{background: rgba(0, 0, 0, 0.2);position: fixed;left: 240px;top: 0;height: 100%;transition-duration: .7s;z-index: 9998;}
.nav_btn:before{
font-family: "fontawesome";
content: '\f0c9';
width: 100%;
height: 100%;
}
.open .nav_btn:before{
content: '\f00d';}
body {
position: relative;
left: 0;
overflow-x: hidden;
}
#g_nav{
position: fixed;
top: 0;
left: -240px;
width: 240px;
height: 100%;
background: #333333;
overflow-y: auto;
-webkit-overflow-scrolling: touch;
z-index: 9999;
font-size: .85em;
}

/* スマホ用検索 */
.header form{
width:90%;
max-width:100%;
margin:1em auto;
position:relative;
}
.header form input{
width:85%;
max-width: 85%; 
height:22px;
line-height: 22px;
padding:2% 10% 2% 5%;
border-radius: 1em;
}
.header form button{
position:absolute;
right:5px;
top:5px;
border:0;
background:none;
}
/* スライドメニューデザイン */
#g_nav ul{
margin: 0;
padding: 0;
}
#g_nav > ul{
margin-bottom: 7em;
}
#g_nav li + li,
#g_nav li li:first-child{
border-top: solid 1px #eee; 
border-top: solid 1px rgba(255, 255, 255, .05); 
}
#g_nav > ul > li > a{
background-color: rgba(0,0,0,.15);
padding-right: 1em;
position: relative;
}
#g_nav > ul > li > a:after{
font-family:"fontawesome";
content: '\f054';
position:absolute;
right: .4em;
font-size: .8em;
top:50%;
margin-top: -0.5em;
color: rgba(255,255,255,.4);
}
#g_nav li{
list-style: none;
display: block;
}
#g_nav li a{
display: block;
padding: .8em;
color: #fff;
text-align: center;
text-decoration: none;
text-align: left;
}
.nav li a .gf{
display:none;
}

#custom_header .wrap{
display:block;
text-align:center;
}
#custom_header .wrap > div{
display:block;
}
#custom_header .header-eyecatch,
#custom_header .header-text{
width:100%;
}
#custom_header .header-eyecatch img{
max-width:70%;
}
#custom_header .en{
font-size: 2em;
}
#custom_header .btn-wrap{
margin:1.5em 0 0;
}
.top-post-list .post-list .entry-content .entry-title{
font-size:1.1em;
}
.top-post-list .post-list .entry-content .date{
font-size:.9em;
}
.top-post-list .post-list .entry-content .description{
display:none;
}
/*   header */
#inner-header{
position:relative;
width: 100%;
padding:4px 0;}
#logo{
max-width: 70%;
margin-left: auto;margin-right: auto;height: auto;
font-size: 1.1em;
position: static;
}
#logo a{
position: static;
width: 100%;
height:auto;
display:block;
}
#logo a img{
width: auto;
margin-top: 1px;
max-width: 100%;
max-height: 28px;
}
.site_description{
text-align:center;
transform: scale(0.8);
margin: 0;
}
#breadcrumb{
margin: 10px auto;
font-size: 10px;
}
#main article .eyecatch{
margin-left:-2%;
margin-right:-2%;
}
.single .authorbox .author-newpost li:nth-child(2n):after,
.related-box li:nth-child(2n):after{
content:"";
display:table;
clear:both;
}
.single .authorbox .author-newpost li:nth-child(2n),
.related-box li:nth-child(2n){
zoom:1;
}
/* footer mobile */
/* ページトップへ */
#page-top {
right: 10px;
}
#page-top a {
background-repeat: no-repeat;
text-decoration: none;
width: 38px;
height: 38px;
line-height:37px;
font-size:0.8em;
}
.footer-links {
font-size:0.9em;
}
.footer-links ul{
margin:1em 0 0;
}
.footer-links li{
display:inline;
margin-right:1em;
font-size:10px;
}
.footer-links li:before{
font-family: "fontawesome";
content: '\f0da';
margin-right: 0.3em;
}
.footer-links a{
text-decoration:none;
}
.copyright{
font-size:0.7em;
padding:1em 0;
}
/* single mobile */
.single .authorbox .author-newpost li,
.related-box li{
width:47%;
min-height: 250px;
margin: 0 3% 1% 0;
float:left;
position:relative;
}
.single .authorbox .author-newpost li .eyecatch,
.related-box li .eyecatch{
max-height: 200px;
}
.related-box li.related-rightlist{
zoom: 1;
}
.related-box li.related-rightlist:after{
content:"";
display:table;
clear:both;
}
/* YouTubeレスポンシブ */
.youtube-container{
position: relative;
width: 100%;
padding-top: 56.25%;
}

.youtube-container iframe{
position: absolute;
top: 0;
right: 0;
width: 100% !important;
height: 100% !important;
}

/* SNS テキスト非表示 */
.share.short .sns li a .text{
display:none;
}
}

@media only screen and (max-width: 480px) {
.top-post-list .post-list .eyecatch .cat-name{
font-size: .6em;
}
.post-list-card .post-list{
width:96%;
margin:3% 2%;
float:none;
height:auto;
}
.post-list-card .post-list .eyecatch{
max-height: inherit;
height:auto;
}
.post-list-card .post-list .eyecatch img{
width:100%;
}
#main article .entry-content{
font-size: 0.96em;
}
/* アイキャッチ画像高さ調整 */
.top-post-list .post-list .eyecatch{
max-height: 70px;
}
.single .authorbox .author-newpost li,
.related-box li{
min-height: 190px;
}
.single .authorbox .author-newpost li .eyecatch,
.related-box li .eyecatch{
height: 93px;
}
.single-title,
.page-title,
.entry-title {
font-size:1.2em; }
.byline .date{
font-size: 0.8em;
}
.add.more{
margin-left:-0.9em;
}

.top-post-list .post-list a{
padding:0.7em;
}
.share.short .sns li a{
padding:10px 4px;
}
.pagination li{
margin-bottom: 1em!important;
}
.pagination a, .pagination span,
.page-links a , .page-links ul > li > span{
font-size:0.85em;
padding: 8px 10px;
}

/*********************
POSTS & CONTENT STYLES
*********************/
.aligncenter, img.aligncenter {
margin-right: auto;
margin-left: auto;
display: block;
clear: both; }
.alignleft, img.alignleft {
max-width:52%!important;}
.alignright, img.alignright {
max-width:52%!important;}
}

/* Portrait tablet to landscape */
@media only screen and (min-width: 768px) and (max-width: 1099px) {
/*   グリッドシステム */
.t-all {
float: left;
padding-right: 0.75em;
width: 100%;
padding-right: 0; }
.t-1of2 {
float: left;
padding-right: 0.75em;
width: 50%; }
.t-1of3 {
float: left;
padding-right: 0.75em;
width: 33.33%; }
.t-2of3 {
float: left;
padding-right: 0.75em;
width: 66.66%; }
.t-1of4 {
float: left;
padding-right: 0.75em;
width: 25%; }
.t-3of4 {
float: left;
padding-right: 0.75em;
width: 75%; }
.t-1of5 {
float: left;
padding-right: 0.75em;
width: 20%; }
.t-2of5 {
float: left;
padding-right: 0.75em;
width: 40%; }
.t-3of5 {
float: left;
padding-right: 0.75em;
width: 60%; }
.t-4of5 {
float: left;
padding-right: 0.75em;
width: 80%; }
#slider .bx-wrapper ul li{
height:255px;
}
.single .authorbox .author-newpost li .eyecatch,
.related-box li .eyecatch{
height: 100px;
}
/* SNS テキスト非表示 */
.share.short .sns li a .text{
display:none;
}
/* スクロール広告最大幅 */
#scrollfix.fixed{
max-width: 253px;
}
#container.sidebarleft #main{
padding-right:0;
padding-left:0.75em;
}
}

/* Landscape to small desktop */
@media only screen and (min-width: 1100px) {
/*   グリッドシステム */
.d-all {
float: left;
padding-right: 0.75em;
width: 100%;
padding-right: 0; }
.d-1of2 {
float: left;
padding-right: 0.75em;
width: 50%; }
.d-1of3 {
float: left;
padding-right: 0.75em;
width: 33.33%; }
.d-2of3 {
float: left;
padding-right: 0.75em;
width: 66.66%; }
.d-1of4 {
float: left;
padding-right: 0.75em;
width: 25%; }
.d-3of4 {
float: left;
padding-right: 0.75em;
width: 75%; }
.d-1of5 {
float: left;
padding-right: 0.75em;
width: 20%; }
.d-2of5 {
float: left;
padding-right: 0.75em;
width: 40%; }
.d-3of5 {
float: left;
padding-right: 0.75em;
width: 60%; }
.d-4of5 {
float: left;
padding-right: 0.75em;
width: 80%; }
.d-1of6 {
float: left;
padding-right: 0.75em;
width: 16.6666666667%; }
.d-1of7 {
float: left;
padding-right: 0.75em;
width: 14.2857142857%; }
.d-2of7 {
float: left;
padding-right: 0.75em;
width: 28.5714286%; }
.d-3of7 {
float: left;
padding-right: 0.75em;
width: 42.8571429%; }
.d-4of7 {
float: left;
padding-right: 0.75em;
width: 57.1428572%; }
.d-5of7 {
float: left;
padding-right: 0.75em;
width: 71.4285715%; }
.d-6of7 {
float: left;
padding-right: 0.75em;
width: 85.7142857%; }
.d-1of8 {
float: left;
padding-right: 0.75em;
width: 12.5%; }
.d-1of9 {
float: left;
padding-right: 0.75em;
width: 11.1111111111%; }
.d-1of10 {
float: left;
padding-right: 0.75em;
width: 10%; }
.d-1of11 {
float: left;
padding-right: 0.75em;
width: 9.09090909091%; }
.d-1of12 {
float: left;
padding-right: 0.75em;
width: 8.33%; }

/* トップページ */
.byline .cat-name{
background: #e55937;
color:#fff;
padding: 0.2em 0.9em;
margin-left: 0.9em;
font-size: 0.68em;
font-weight: bold;}

/* デスクトップの時だけグリッドシステムを使わない */
#main{
width: 66.18181818%;
padding-right: 0;
}
.page-full #main{
width: 100%;
}
.page-full #main .article-footer,
.page-full #main .np-post,
.page-full #main .related-box,
.page-full #main .authorbox{
max-width: 728px;
margin-right: auto;
margin-left: auto;
}
.page-full .entry-content {
padding: 1.8em 1em 5em;
}
#sidebar1{
width: 30.545455%;
float:right;
}

/* グローバルナビの高さを調整 */
.nav > li {
display:table-cell;
}
.nav > li > a {
display: block;
color: #ffffff;
text-decoration: none;
line-height: 1.3;
padding-left: 1.2em;
padding-right: 1.2em;
}
/* singleページ */
.single .byline .cat-name{
padding-left:.8em;
padding-right:1em;
position:relative;
}
.d-1of2 img,
.d-1of3 img{
margin-bottom:0.5em;
}
/* スクロール広告 */
#scrollfix{
max-width: 336px;
}
/* SNSボタン（PCサイズ） */
.share.short{
margin-top:1em;
margin-bottom: 1.5em;
}
.sns ul {
margin:0 auto;
list-style:none;
}
.sns li {
width: 32.3%;
margin: 0 1% 2% 0;
}
.sns li a {
font-size: 0.85em;
padding:10px 2px;
}
}