@charset "UTF-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

a,
a:link,
a:visited,
a:active,
a:hover {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  filter: alpha(opacity=80);
  -ms-filter: "alpha(opacity=80)";
  opacity: .80;
}

a:hover img {
  filter: alpha(opacity=80);
  -ms-filter: "alpha(opacity=80)";
  opacity: .80;
}

a:focus {
  outline: none;
}

img {
  vertical-align: bottom;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

html {
  font-size: 8px;
}

body,
td,
th,
input,
textarea {
  color: #111;
  font-family: '游ゴシック','Yu Gothic',YuGothic,'Hiragino Kaku Gothic Pro','ヒラギノ角ゴ Pro W3',  Osaka, 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', Tahoma, Verdana, Arial, Verdana, sans-serif;
  font-size: 1.3rem;
  line-height: 1.5;
}

a {
  color: #111;
}

body {
  overflow-wrap: break-word;
  word-break: break-word;
}

img {
  vertical-align: bottom;
}

/* clearfix (micro) */
.clearfix:before,
.clearfix:after {
  content: ' ';
  display: table;
}

.clearfix:after {
  clear: both;
}

/* For IE 6/7 only */
.clearfix {
  *zoom: 1;
}

ul,
ol,
li {
  list-style: none;
}

html,
body {
  width: 100%;
  height: 100%;
}

/* .row {
  max-width: 1100px;
  width: 100%;
  margin: 0 auto;
} */
* {
  -moz-box-sizing: border-box;
       box-sizing: border-box;
}

@font-face {
  font-family: 'Noto Sans JP DemiLight';
  font-style: normal;
  font-weight: 300;
  src: local("Noto Sans CJK JP DemiLight"), url(//fonts.gstatic.com/ea/notosansjapanese/v6/NotoSansJP-DemiLight.woff2) format("woff2"), url(//fonts.gstatic.com/ea/notosansjapanese/v6/NotoSansJP-DemiLight.woff) format("woff"), url(//fonts.gstatic.com/ea/notosansjapanese/v6/NotoSansJP-DemiLight.otf) format("opentype");
}

@font-face {
  font-family: 'Noto Sans JP Regular';
  font-style: normal;
  font-weight: 400;
  src: local("Noto Sans CJK JP Regular"), url(//fonts.gstatic.com/ea/notosansjp/v5/NotoSansJP-Regular.woff2) format("woff2"), url(//fonts.gstatic.com/ea/notosansjp/v5/NotoSansJP-Regular.woff) format("woff"), url(//fonts.gstatic.com/ea/notosansjp/v5/NotoSansJP-Regular.otf) format("opentype");
}

@font-face {
  font-family: 'Noto Sans JP Medium';
  font-style: normal;
  font-weight: 500;
  src: local("Noto Sans CJK JP Medium"), url(//fonts.gstatic.com/ea/notosansjp/v5/NotoSansJP-Medium.woff2) format("woff2"), url(//fonts.gstatic.com/ea/notosansjp/v5/NotoSansJP-Medium.woff) format("woff"), url(//fonts.gstatic.com/ea/notosansjp/v5/NotoSansJP-Medium.otf) format("opentype");
}

@font-face {
  font-family: 'Noto Sans JP Bold';
  font-style: normal;
  font-weight: 700;
  src: local("Noto Sans CJK JP Bold"), url(//fonts.gstatic.com/ea/notosansjp/v5/NotoSansJP-Bold.woff2) format("woff2"), url(//fonts.gstatic.com/ea/notosansjp/v5/NotoSansJP-Bold.woff) format("woff"), url(//fonts.gstatic.com/ea/notosansjp/v5/NotoSansJP-Bold.otf) format("opentype");
}

@font-face {
  font-family: 'Noto Sans JP Black';
  font-style: normal;
  font-weight: 900;
  src: local("Noto Sans CJK JP Black"), url(//fonts.gstatic.com/ea/notosansjp/v5/NotoSansJP-Black.woff2) format("woff2"), url(//fonts.gstatic.com/ea/notosansjp/v5/NotoSansJP-Black.woff) format("woff"), url(//fonts.gstatic.com/ea/notosansjp/v5/NotoSansJP-Black.otf) format("opentype");
}

body {
  -moz-font-feature-settings: "palt";
       font-feature-settings: "palt";
}

@media screen and (min-width: 769px), print {
  .show_sp {
    display: none !important;
  }
  .row {
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
  }
  .header.fixed {
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 99;
    background: #fff;
    -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
         box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  }
  .header.fixed .header_main {
    padding: 7px 0 7px 15px;
  }
  .header.fixed .header_main_logo {
    width: 180px;
  }
  .header.fixed .header_main_nav ul li {
    padding: 5px 30px 7px;
  }
  .header_main {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
       -moz-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 14px 0 14px 15px;
    -webkit-transform: all 0.3s ease;
       -moz-transform: all 0.3s ease;
        -ms-transform: all 0.3s ease;
            transform: all 0.3s ease;
  }
  .header_main_logo {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
    width: 300px;
  }
  .header_main_logo img {
    width: 100%;
    height: auto;
  }
  .header_main_nav ul {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
  }
  .header_main_nav ul li {
    padding: 10px 35px 14px;
    border-left: 1px solid #ccc;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  .header_main_nav ul li a {
    font-size: 2rem;
    line-height: 1;
    font-family: "Noto Sans JP Medium";
    color: #000;
    position: relative;
    padding: 0 0 18px 0;
    display: inline-block;
  }
  .header_main_nav ul li a::after {
    position: absolute;
    content: attr(data-en);
    bottom: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
       -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    font-size: 1rem;
    line-height: 1;
    font-family: "Noto Sans JP Medium";
    color: #808080;
    white-space: nowrap;
    word-break: keep-all;
  }
  .header_main_nav ul li a::before {
    position: absolute;
    content: "";
    z-index: -1;
    left: 0;
    right: 100%;
    bottom: 18px;
    background: -webkit-linear-gradient(transparent 40%, #ecec08 40%);
    background: -moz-linear-gradient(transparent 40%, #ecec08 40%);
    background: linear-gradient(transparent 40%, #ecec08 40%);
    height: 10px;
    -webkit-transition-property: right;
    -moz-transition-property: right;
    transition-property: right;
    -webkit-transition-duration: 0.3s;
       -moz-transition-duration: 0.3s;
            transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
       -moz-transition-timing-function: ease-out;
            transition-timing-function: ease-out;
  }
  .header_main_nav ul li a:hover::before {
    right: 0;
  }
  .menu {
    display: none;
  }
}

@media only screen and (min-width: 769px) and (max-width: 1100px) {
  .header.fixed .header_main {
    padding: 7px 15px;
  }
  .header_main {
    padding: 14px 15px;
  }
  .header_main_nav {
    position: absolute;
    width: 100%;
    height: 0;
    left: 0;
    z-index: 99;
    visibility: hidden;
    -webkit-backface-visibility: hidden;
       -moz-backface-visibility: hidden;
            backface-visibility: hidden;
    opacity: 0;
    -webkit-transition: all 0.35s linear;
    -moz-transition: all 0.35s linear;
    transition: all 0.35s linear;
    overflow-y: scroll;
    background: rgba(0, 0, 0, 0.9);
  }
  .header_main_nav.open {
    opacity: 1;
    visibility: visible;
  }
  .header_main_nav ul {
    display: block;
  }
  .header_main_nav ul:nth-of-type(1) {
    padding-top: 40px;
  }
  .header_main_nav ul li {
    text-align: center;
  }
  .header_main_nav ul li:not(:last-child) {
    margin-bottom: 10px;
  }
  .header_main_nav ul li a {
    color: #fff;
  }
  .menu {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .menu p {
    font-size: 0;
    margin-right: 20px;
  }
  .menu.open .icon_menu .icon_inner {
    -webkit-transition-delay: .1s;
       -moz-transition-delay: .1s;
            transition-delay: .1s;
    -webkit-transform: translate3d(0, 15px, 0) rotate(135deg);
       -moz-transform: translate3d(0, 15px, 0) rotate(135deg);
            transform: translate3d(0, 15px, 0) rotate(135deg);
  }
  .menu.open .icon_menu .icon_inner::before {
    -webkit-transition-delay: 0s;
       -moz-transition-delay: 0s;
            transition-delay: 0s;
    opacity: 0;
  }
  .menu.open .icon_menu .icon_inner::after {
    -webkit-transition-delay: .1s;
       -moz-transition-delay: .1s;
            transition-delay: .1s;
    -webkit-transform: translate3d(0, -30px, 0) rotate(-270deg);
       -moz-transform: translate3d(0, -30px, 0) rotate(-270deg);
            transform: translate3d(0, -30px, 0) rotate(-270deg);
  }
  .menu .icon_menu {
    position: relative;
    width: 40px;
    height: 30px;
  }
  .menu .icon_menu .icon_inner, .menu .icon_menu .icon_inner::before, .menu .icon_menu .icon_inner::after {
    position: absolute;
    width: 100%;
    height: 2px;
    -webkit-transition-timing-function: ease;
       -moz-transition-timing-function: ease;
            transition-timing-function: ease;
    -webkit-transition-duration: .1s;
       -moz-transition-duration: .1s;
            transition-duration: .1s;
    -webkit-transition-property: -webkit-transform;
    transition-property: -webkit-transform;
    -moz-transition-property: transform, -moz-transform;
    transition-property: transform;
    transition-property: transform, -webkit-transform, -moz-transform;
    background-color: #000;
  }
  .menu .icon_menu .icon_inner {
    -webkit-transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
       -moz-transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
            transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
    -webkit-transition-duration: .4s;
       -moz-transition-duration: .4s;
            transition-duration: .4s;
    display: block;
    top: 0;
    left: 0;
    margin-top: -1px;
  }
  .menu .icon_menu .icon_inner::before, .menu .icon_menu .icon_inner::after {
    content: "";
    display: block;
  }
  .menu .icon_menu .icon_inner::before {
    top: 15px;
    -webkit-transition: opacity .15s ease .4s;
    -moz-transition: opacity .15s ease .4s;
    transition: opacity .15s ease .4s;
  }
  .menu .icon_menu .icon_inner::after {
    top: 30px;
    -webkit-transition: -webkit-transform 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    transition: -webkit-transform 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    -moz-transition: transform 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55), -moz-transform 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    transition: transform 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    transition: transform 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55), -webkit-transform 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55), -moz-transform 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
}

@media screen and (min-width: 769px), print {
  .mail_magazine {
    background: url("../images/background_2.jpg") 0 0 no-repeat;
    -moz-background-size: cover;
         background-size: cover;
  }
  .mail_magazine_main {
    padding: 77px 115px;
  }
}

@media only screen and (min-width: 769px) and (max-width: 1100px) {
  .mail_magazine_main {
    padding: 77px 50px;
  }
}

@media screen and (min-width: 769px), print {
  .mail_magazine_main p {
    font-size: 0;
    text-align: center;
  }
  .mail_magazine_main p img {
    max-width: 80%;
    width: auto;
    height: auto;
  }
  .mail_magazine_form {
    margin-top: 65px;
  }
  .mail_magazine_form input[type="text"], .mail_magazine_form input[type="email"] {
    width: 100%;
    font-size: 2.6rem;
    line-height: 3.6rem;
    font-family: "Noto Sans JP DemiLight";
    outline: none;
    border: 0;
    -moz-box-shadow: none;
         box-shadow: none;
    height: 62.4px;
    padding: 0 0 0 25px;
    background: #fff;
  }
  .mail_magazine_form .sml_email {
    margin-top: 20px;
  }
  .mail_magazine_form input + input {
    margin-top: 20px;
  }
  .mail_magazine_form_btn, .mail_magazine_form .sml_submit {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 35px;
  }
  .mail_magazine_form_btn button, .mail_magazine_form_btn input[type="submit"], .mail_magazine_form .sml_submit button, .mail_magazine_form .sml_submit input[type="submit"] {
    width: 195.2px;
    height: 55.2px;
    -moz-border-radius: 27.2px;
         border-radius: 27.2px;
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -moz-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: #fff;
    font-size: 2.2rem;
    font-family: "Noto Sans JP Medium";
    border: 0;
    -moz-box-shadow: none;
         box-shadow: none;
    outline: none;
    cursor: pointer;
    background: #FF3050;
  }
  .footer {
    overflow: hidden;
  }
  .footer_main_top {
    background: url("../images/background_4.jpg") center no-repeat;
    -moz-background-size: cover;
         background-size: cover;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 65px 0 130px 0;
  }
  .footer_main_top p {
    width: 480px;
  }
  .footer_main_top p img {
    max-width: 100%;
    width: auto;
    height: auto;
  }
  .footer_main_top a {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 280px;
    height: 55.2px;
    -moz-border-radius: 27.2px;
         border-radius: 27.2px;
    color: #fff;
    font-size: 2.2rem;
    font-family: "Noto Sans JP Black";
    background: #39B54A;
    margin-top: 60px;
  }
  .footer_main_copy {
    text-align: center;
    background: #000;
    color: #fff;
    padding: 50px 0 30px;
  }
  .footer_main_copy > a {
    display: inline-block;
    width: 400px;
  }
  .footer_main_copy > a img {
    width: 100%;
    height: auto;
  }
  .footer_main_copy > ul {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 50px 0 30px;
  }
  .footer_main_copy > ul li {
    padding: 0 50px;
    border-left: 1px solid #fff;
  }
  .footer_main_copy > ul li:first-child {
    padding-left: 0;
    border-left: 0;
  }
  .footer_main_copy > ul li:last-child {
    padding-right: 0;
  }
  .footer_main_copy > ul li a {
    font-size: 2.4rem;
    font-family: "Noto Sans JP DemiLight";
    line-height: 1;
    color: #fff;
  }
  .footer_main_copy > p {
    font-size: 2rem;
    line-height: 1;
    font-family: "Noto Sans JP DemiLight";
  }
  .footer_main {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
  }
  .footer_main .mail_magazine {
    width: 50%;
  }
  .footer_main .mail_magazine_main {
    padding: 77px 100px;
  }
}

@media only screen and (min-width: 769px) and (max-width: 1100px) {
  .footer_main .mail_magazine_main {
    padding: 6.36364%;
  }
}

@media only screen and (min-width: 769px) and (max-width: 1100px) {
  .footer_main .mail_magazine_form {
    margin-top: 5.45455%;
  }
}

@media screen and (min-width: 769px), print {
  .footer_main_top {
    width: 50%;
  }
}

@media only screen and (min-width: 769px) and (max-width: 1100px) {
  .footer_main_top {
    padding: 5.90909% 0 11.81818%;
  }
  .footer_main_top p {
    text-align: center;
  }
  .footer_main_top p img {
    max-width: 80%;
  }
}

@media screen and (max-width: 768px) {
  img {
    width: 100%;
    height: auto;
  }
  .show_pc {
    display: none !important;
  }
  .container {
    min-width: 320px;
    overflow: hidden;
  }
  .header.toppage {
    position: fixed;
    width: 100%;
    z-index: 99;
    left: 0;
    top: 0;
  }
  .header.toppage .header_main h1 a::after {
    background: url("../images/logo_sp.png") 0 0 no-repeat;
    -moz-background-size: contain;
         background-size: contain;
  }
  .header.toppage .menu p::after {
    background: url("../images/txt_menu_w.png") 0 0 no-repeat;
    -moz-background-size: contain;
         background-size: contain;
  }
  .header.toppage .menu .icon_menu .icon_inner {
    background: #fff;
  }
  .header.toppage .menu .icon_menu .icon_inner::before, .header.toppage .menu .icon_menu .icon_inner::after {
    background: #fff;
  }
  .header_main {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
       -moz-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 3.58423vw;
  }
  .header_main h1 {
    font-size: 0;
    width: 53.76344vw;
  }
  .header_main h1 a {
    display: block;
    position: relative;
    height: 10.75269vw;
  }
  .header_main h1 a::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 10.75269vw;
    background: url("../images/pulasedo_logo.svg") 0 0 no-repeat;
    -moz-background-size: contain;
         background-size: contain;
    left: 0;
    top: 0;
  }
  .header_main h1 a img {
    display: none;
  }
  .header_main_nav {
    position: absolute;
    width: 100%;
    height: 0;
    left: 0;
    z-index: 99;
    visibility: hidden;
    -webkit-backface-visibility: hidden;
       -moz-backface-visibility: hidden;
            backface-visibility: hidden;
    opacity: 0;
    -webkit-transition: all 0.35s linear;
    -moz-transition: all 0.35s linear;
    transition: all 0.35s linear;
    overflow-y: scroll;
    background: rgba(0, 0, 0, 0.9);
  }
  .header_main_nav.open {
    opacity: 1;
    visibility: visible;
  }
  .header_main_nav ul:nth-of-type(1) {
    padding-top: 40px;
  }
  .header_main_nav ul li {
    text-align: center;
  }
  .header_main_nav ul li:not(:last-child) {
    margin-bottom: 30px;
  }
  .header_main_nav ul li a {
    font-size: 2rem;
    line-height: 1.5;
    color: #fff;
    font-weight: bold;
    font-family: "Noto Sans JP Bold";
    text-transform: uppercase;
    display: inline-block;
    position: relative;
    -webkit-transform: perspective(1px) translateZ(0);
       -moz-transform: perspective(1px) translateZ(0);
            transform: perspective(1px) translateZ(0);
  }
  .header .menu {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header .menu p {
    font-size: 0;
    margin-right: 3.58423vw;
    position: relative;
    width: 8.06452vw;
  }
  .header .menu p::after {
    position: absolute;
    content: "";
    width: 8.06452vw;
    height: 2.32975vw;
    background: url("../images/txt_menu.png") 0 0 no-repeat;
    -moz-background-size: contain;
         background-size: contain;
    left: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
       -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  .header .menu p img {
    display: none;
  }
  .header .menu.open .icon_menu .icon_inner {
    -webkit-transition-delay: .1s;
       -moz-transition-delay: .1s;
            transition-delay: .1s;
    -webkit-transform: translate3d(0, 2.68817vw, 0) rotate(135deg);
       -moz-transform: translate3d(0, 2.68817vw, 0) rotate(135deg);
            transform: translate3d(0, 2.68817vw, 0) rotate(135deg);
  }
  .header .menu.open .icon_menu .icon_inner::before {
    -webkit-transition-delay: 0s;
       -moz-transition-delay: 0s;
            transition-delay: 0s;
    opacity: 0;
  }
  .header .menu.open .icon_menu .icon_inner::after {
    -webkit-transition-delay: .1s;
       -moz-transition-delay: .1s;
            transition-delay: .1s;
    -webkit-transform: translate3d(0, -5.37634vw, 0) rotate(-270deg);
       -moz-transform: translate3d(0, -5.37634vw, 0) rotate(-270deg);
            transform: translate3d(0, -5.37634vw, 0) rotate(-270deg);
  }
  .header .menu .icon_menu {
    position: relative;
    width: 7.16846vw;
    height: 5.37634vw;
  }
  .header .menu .icon_menu .icon_inner, .header .menu .icon_menu .icon_inner::before, .header .menu .icon_menu .icon_inner::after {
    position: absolute;
    width: 100%;
    height: 2px;
    -webkit-transition-timing-function: ease;
       -moz-transition-timing-function: ease;
            transition-timing-function: ease;
    -webkit-transition-duration: .1s;
       -moz-transition-duration: .1s;
            transition-duration: .1s;
    -webkit-transition-property: -webkit-transform;
    transition-property: -webkit-transform;
    -moz-transition-property: transform, -moz-transform;
    transition-property: transform;
    transition-property: transform, -webkit-transform, -moz-transform;
    background-color: #000;
  }
  .header .menu .icon_menu .icon_inner {
    -webkit-transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
       -moz-transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
            transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
    -webkit-transition-duration: .4s;
       -moz-transition-duration: .4s;
            transition-duration: .4s;
    display: block;
    top: 0;
    left: 0;
    margin-top: -1px;
  }
  .header .menu .icon_menu .icon_inner::before, .header .menu .icon_menu .icon_inner::after {
    content: "";
    display: block;
  }
  .header .menu .icon_menu .icon_inner::before {
    top: 2.68817vw;
    -webkit-transition: opacity .15s ease .4s;
    -moz-transition: opacity .15s ease .4s;
    transition: opacity .15s ease .4s;
  }
  .header .menu .icon_menu .icon_inner::after {
    top: 5.37634vw;
    -webkit-transition: -webkit-transform 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    transition: -webkit-transform 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    -moz-transition: transform 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55), -moz-transform 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    transition: transform 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    transition: transform 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55), -webkit-transform 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55), -moz-transform 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  .header::before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #fff;
    -webkit-transform: scaleX(0);
       -moz-transform: scaleX(0);
        -ms-transform: scaleX(0);
            transform: scaleX(0);
    -webkit-transform-origin: 50%;
       -moz-transform-origin: 50%;
        -ms-transform-origin: 50%;
            transform-origin: 50%;
    transition: -webkit-transform;
    -webkit-transition: -webkit-transform;
    -moz-transition: transform, -moz-transform;
    transition: transform;
    transition: transform, -webkit-transform, -moz-transform;
    transition: transform, -webkit-transform;
    -webkit-transition-duration: 0.3s;
       -moz-transition-duration: 0.3s;
            transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
       -moz-transition-timing-function: ease-out;
            transition-timing-function: ease-out;
  }
  .header.fixed::before {
    -webkit-transform: scale(1);
       -moz-transform: scale(1);
        -ms-transform: scale(1);
            transform: scale(1);
  }
  .header.fixed .header_main h1 a::after {
    background: url("../images/pulasedo_logo.svg") 0 0 no-repeat;
    -moz-background-size: contain;
         background-size: contain;
  }
  .header.fixed .header_main h1 a img {
    display: none;
  }
  .header.fixed .menu p::after {
    background: url("../images/txt_menu.png") 0 0 no-repeat;
    -moz-background-size: contain;
         background-size: contain;
  }
  .header.fixed .menu .icon_menu .icon_inner {
    background: #000;
  }
  .header.fixed .menu .icon_menu .icon_inner::before, .header.fixed .menu .icon_menu .icon_inner::after {
    background: #000;
  }
  .header.fixed2 {
    position: fixed;
    width: 100%;
    z-index: 99;
    left: 0;
    top: 0;
    background: #fff;
  }
  .mail_magazine {
    background: url("../images/background_2.jpg") 0 0 no-repeat;
    -moz-background-size: cover;
         background-size: cover;
  }
  .mail_magazine_main {
    padding: 7.52688vw 3.58423vw;
  }
  .mail_magazine_main p {
    font-size: 0;
  }
  .mail_magazine_main p img {
    max-width: 100%;
    width: auto;
    height: auto;
  }
  .mail_magazine_form {
    margin-top: 8.96057vw;
  }
  .mail_magazine_form input[type="text"], .mail_magazine_form input[type="email"] {
    width: 100%;
    font-size: 5.01792vw;
    line-height: 1.5;
    font-family: "Noto Sans JP DemiLight";
    outline: none;
    border: 0;
    -moz-box-shadow: none;
         box-shadow: none;
    height: 16.12903vw;
    padding: 0 0 0 3.58423vw;
    background: #fff;
  }
  .mail_magazine_form input + input {
    margin-top: 3.58423vw;
  }
  .mail_magazine_form .sml_email {
    margin-top: 3.58423vw;
  }
  .mail_magazine_form_btn, .mail_magazine_form .sml_submit {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 7.16846vw;
  }
  .mail_magazine_form_btn button, .mail_magazine_form_btn input[type="submit"], .mail_magazine_form .sml_submit button, .mail_magazine_form .sml_submit input[type="submit"] {
    width: 49.82079vw;
    height: 13.97849vw;
    -moz-border-radius: 6.98925vw;
         border-radius: 6.98925vw;
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -moz-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: #fff;
    font-size: 5.37634vw;
    font-family: "Noto Sans JP Medium";
    border: 0;
    -moz-box-shadow: none;
         box-shadow: none;
    outline: none;
    cursor: pointer;
    background: #FF3050;
  }
  .footer_main_top {
    background: url("../images/background_4.jpg") center no-repeat;
    -moz-background-size: cover;
         background-size: cover;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 17.02509vw 0 27.77778vw 0;
  }
  .footer_main_top p {
    width: 92.83154vw;
  }
  .footer_main_top p img {
    max-width: 100%;
    width: auto;
    height: auto;
  }
  .footer_main_top a {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 52.32975vw;
    height: 14.69534vw;
    -moz-border-radius: 7.34767vw;
         border-radius: 7.34767vw;
    color: #fff;
    font-size: 5.37634vw;
    font-family: "Noto Sans JP Black";
    background: #39B54A;
    margin-top: 60px;
  }
  .footer_main_copy {
    text-align: center;
    padding: 8.96057vw 0 5.37634vw;
    background: #000;
    color: #fff;
  }
  .footer_main_copy > a {
    width: 71.68459vw;
    display: inline-block;
    margin-bottom: 5.37634vw;
  }
  .footer_main_copy > ul {
    display: none;
  }
  .footer_main_copy > p {
    font-size: 3.94265vw;
    line-height: 1;
    font-family: "Noto Sans JP DemiLight";
  }
}

.effect {
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  transition: all 1s ease;
}

.delay_03 {
  -webkit-transition: all 1s ease 0.3s;
  -moz-transition: all 1s ease 0.3s;
  transition: all 1s ease 0.3s;
}

.delay_06 {
  -webkit-transition: all 1s ease 0.6s;
  -moz-transition: all 1s ease 0.6s;
  transition: all 1s ease 0.6s;
}

.delay_09 {
  -webkit-transition: all 1s ease 0.9s;
  -moz-transition: all 1s ease 0.9s;
  transition: all 1s ease 0.9s;
}

.delay_12 {
  -webkit-transition: all 1s ease 1.2s;
  -moz-transition: all 1s ease 1.2s;
  transition: all 1s ease 1.2s;
}

.delay_15 {
  -webkit-transition: all 1s ease 1.5s;
  -moz-transition: all 1s ease 1.5s;
  transition: all 1s ease 1.5s;
}

.delay_18 {
  -webkit-transition: all 1s ease 1.8s;
  -moz-transition: all 1s ease 1.8s;
  transition: all 1s ease 1.8s;
}

.fadeIn {
  opacity: 0;
}

.fadeIn.active {
  opacity: 1;
}

.slideUp {
  -webkit-transform: translate3d(0, 100px, 0);
     -moz-transform: translate3d(0, 100px, 0);
          transform: translate3d(0, 100px, 0);
  opacity: 0;
}

.slideUp.active {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
     -moz-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

.slideToRight {
  -webkit-transform: translate3d(-100px, 0, 0);
     -moz-transform: translate3d(-100px, 0, 0);
          transform: translate3d(-100px, 0, 0);
  opacity: 0;
}

.slideToRight.active {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
     -moz-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

.slideToLeft {
  -webkit-transform: translate3d(100px, 0, 0);
     -moz-transform: translate3d(100px, 0, 0);
          transform: translate3d(100px, 0, 0);
  opacity: 0;
}

.slideToLeft.active {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
     -moz-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

.maskToRight {
  position: relative;
  -webkit-transform: translateZ(0);
     -moz-transform: translateZ(0);
          transform: translateZ(0);
  overflow: hidden;
}

.maskToRight::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  -webkit-transform: translate3d(0, 0, 0);
     -moz-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  background: #fff;
  -webkit-transition: all 0.8s linear;
  -moz-transition: all 0.8s linear;
  transition: all 0.8s linear;
  z-index: 2;
}

.maskToRight.active::before {
  -webkit-transform: translate3d(100%, 0, 0);
     -moz-transform: translate3d(100%, 0, 0);
          transform: translate3d(100%, 0, 0);
}

.waveText {
  display: inline-block;
  will-change: transform;
  -webkit-animation-name: waveText;
     -moz-animation-name: waveText;
          animation-name: waveText;
  -webkit-animation-duration: 4s;
     -moz-animation-duration: 4s;
          animation-duration: 4s;
  -webkit-animation-iteration-count: 1;
     -moz-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-direction: alternate;
     -moz-animation-direction: alternate;
          animation-direction: alternate;
}
