@media screen and (min-width: 769px), print {
  .p_golden .row {
    max-width: 1000px;
  }
  .banner figure {
    position: relative;
  }
  .banner figure img {
    width: 100%;
    height: auto;
  }
  .banner figure figcaption {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
       -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  .txt_top {
    background: -webkit-linear-gradient(left, #ff1638 0%, #ff2e74 100%);
    background: -moz-linear-gradient(left, #ff1638 0%, #ff2e74 100%);
    background: linear-gradient(90deg, #ff1638 0%, #ff2e74 100%);
    text-align: center;
    padding: 46px 0;
  }
  .txt_top .row {
    padding: 0 30px;
  }
  .txt_top img {
    max-width: 80%;
    width: auto;
    height: auto;
  }
  .bx_first {
    margin: 96px 0 0 0;
  }
  .bx_first figure {
    margin-bottom: 85px;
  }
  .bx_first figure img {
    max-width: 80%;
    width: auto;
    height: auto;
  }
  .bx_first p {
    font-size: 2.1rem;
    line-height: 38px;
    font-family: "Noto Sans JP DemiLight";
  }
  .bx_first p + p {
    margin-top: 50px;
  }
  .bx_second {
    margin: 115px 0 0 0;
  }
  .bx_second figure img {
    max-width: 80%;
    width: auto;
    height: auto;
  }
  .bx_second .bx_txt {
    background-image: -webkit-linear-gradient(left, #B3B3B3 50%, rgba(255, 255, 255, 0) 0%), -webkit-linear-gradient(left, #B3B3B3 50%, rgba(255, 255, 255, 0) 0%);
    background-image: -moz-linear-gradient(left, #B3B3B3 50%, rgba(255, 255, 255, 0) 0%), -moz-linear-gradient(left, #B3B3B3 50%, rgba(255, 255, 255, 0) 0%);
    background-image: linear-gradient(to right, #B3B3B3 50%, rgba(255, 255, 255, 0) 0%), linear-gradient(to right, #B3B3B3 50%, rgba(255, 255, 255, 0) 0%);
    background-position: top, bottom;
    -moz-background-size: 6px 3px;
         background-size: 6px 3px;
    background-repeat: repeat-x;
    padding: 45px 0;
    margin-top: 58px;
  }
  .bx_second .bx_txt:not(:last-child) {
    margin-bottom: 115px;
  }
  .bx_second .bx_txt:last-child {
    margin-bottom: 160px;
  }
  .bx_second .bx_txt p {
    font-size: 2.1rem;
    line-height: 38px;
    font-family: "Noto Sans JP DemiLight";
  }
  .bx_second .bx_txt p + p {
    margin-top: 50px;
  }
  .bx_three {
    background-color: #F6F2F4;
    padding: 159px 0 0 0;
  }
  .bx_three figure {
    text-align: center;
  }
  .bx_three figure img {
    max-width: 80%;
    width: auto;
    height: auto;
    margin-top: 40px;
  }
  .bx_three_txt {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
       -moz-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 40px;
  }
  .bx_three_txt_r {
    margin-top: 20px;
    padding: 0 0 80px 30px;
  }
  .bx_three_txt_r p {
    font-size: 2rem;
    line-height: 36px;
    font-family: "Noto Sans JP DemiLight";
  }
  .bx_three_txt_r p + p {
    margin-top: 45px;
  }
  .bx_four {
    background-color: #32B43C;
    padding: 0 0 100px;
  }
  .bx_four h3 {
    text-align: center;
    padding: 27px 0 17px;
  }
  .bx_four h3 img {
    max-width: 80%;
    width: auto;
    height: auto;
  }
  .bx_four_w {
    background-color: #fff;
    padding: 40px 20px 90px;
  }
  .bx_four_w figure {
    margin: 0 0 55px;
  }
  .bx_four_w figure img {
    max-width: 80%;
    width: auto;
    height: auto;
  }
  .bx_four_w h4 {
    margin-bottom: 20px;
  }
  .bx_four_w h4 img {
    max-width: 80%;
    width: auto;
    height: auto;
  }
  .bx_four_w p {
    font-size: 2.1rem;
    line-height: 38px;
    font-family: "Noto Sans JP DemiLight";
  }
  .bx_four_w p + p {
    margin-top: 50px;
  }
  .bx_four_w p .red {
    color: #FF0000;
  }
  .bx_four_w p strong {
    font-size: 2.9rem;
    line-height: 42px;
  }
}

@media only screen and (min-width: 769px) and (max-width: 1100px) and (min-width: 769px) {
  .row {
    padding: 0 40px;
  }
  .txt_top {
    padding: 40px;
  }
  .bx_three {
    padding: 100px 0 0 0;
  }
  .bx_three_txt figure {
    width: 300px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
       -moz-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    margin-left: -35px;
  }
  .bx_three_txt_r {
    width: -webkit-calc(100% - 265px);
    width: -moz-calc(100% - 265px);
    width: calc(100% - 265px);
    padding: 0 0 40px 0;
  }
  .bx_four {
    padding: 0 50px 50px;
  }
  .bx_four_w {
    padding: 40px 0 90px;
  }
}

@media screen and (max-width: 768px) {
  .banner figure {
    position: relative;
  }
  .banner figure img {
    width: 100%;
    height: auto;
  }
  .banner figure figcaption {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
       -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  .txt_top {
    background: -webkit-linear-gradient(left, #ff1638 0%, #ff2e74 100%);
    background: -moz-linear-gradient(left, #ff1638 0%, #ff2e74 100%);
    background: linear-gradient(90deg, #ff1638 0%, #ff2e74 100%);
    text-align: center;
    padding: 5.37634vw;
  }
  .bx_first {
    margin: 10.75269vw 0 0 0;
  }
  .bx_first .row {
    padding: 0 5.37634vw;
  }
  .bx_first figure {
    margin-bottom: 8.96057vw;
  }
  .bx_first p {
    font-size: 3.94265vw;
    line-height: 1.5;
    font-family: "Noto Sans JP DemiLight";
  }
  .bx_first p + p {
    margin-top: 5.37634vw;
  }
  .bx_second {
    margin: 14.33692vw 0 0 0;
  }
  .bx_second .row {
    padding: 0 5.37634vw;
  }
  .bx_second .bx_txt {
    background-image: -webkit-linear-gradient(left, #B3B3B3 50%, rgba(255, 255, 255, 0) 0%), -webkit-linear-gradient(left, #B3B3B3 50%, rgba(255, 255, 255, 0) 0%);
    background-image: -moz-linear-gradient(left, #B3B3B3 50%, rgba(255, 255, 255, 0) 0%), -moz-linear-gradient(left, #B3B3B3 50%, rgba(255, 255, 255, 0) 0%);
    background-image: linear-gradient(to right, #B3B3B3 50%, rgba(255, 255, 255, 0) 0%), linear-gradient(to right, #B3B3B3 50%, rgba(255, 255, 255, 0) 0%);
    background-position: top, bottom;
    -moz-background-size: 1.07527vw 0.53763vw;
         background-size: 1.07527vw 0.53763vw;
    background-repeat: repeat-x;
    padding: 7.16846vw 0;
    margin-top: 10.75269vw;
  }
  .bx_second .bx_txt:not(:last-child) {
    margin-bottom: 10.75269vw;
  }
  .bx_second .bx_txt:last-child {
    margin-bottom: 17.92115vw;
  }
  .bx_second .bx_txt p {
    font-size: 3.94265vw;
    line-height: 1.5;
    font-family: "Noto Sans JP DemiLight";
  }
  .bx_second .bx_txt p + p {
    margin-top: 5.37634vw;
  }
  .bx_three {
    background-color: #F6F2F4;
    padding: 10.75269vw 0 0 0;
  }
  .bx_three .row {
    padding: 0 5.37634vw;
  }
  .bx_three_txt {
    margin-top: 8.96057vw;
  }
  .bx_three_txt_r {
    margin: 5.37634vw 0 0;
    padding-bottom: 21.50538vw;
  }
  .bx_three_txt_r p {
    font-size: 3.94265vw;
    line-height: 1.5;
    font-family: "Noto Sans JP DemiLight";
  }
  .bx_three_txt_r p + p {
    margin-top: 5.37634vw;
  }
  .bx_four {
    background-color: #32B43C;
    padding: 0 5.37634vw 5.37634vw;
  }
  .bx_four .row {
    padding: 0 5.37634vw;
  }
  .bx_four h3 {
    text-align: center;
    padding: 3.58423vw 0;
  }
  .bx_four_w {
    background-color: #fff;
    padding: 7.16846vw 0;
  }
  .bx_four_w figure {
    text-align: center;
    margin: 0 0 7.16846vw;
  }
  .bx_four_w h4 {
    margin-bottom: 5.37634vw;
  }
  .bx_four_w p {
    font-size: 3.94265vw;
    line-height: 1.5;
    font-family: "Noto Sans JP DemiLight";
  }
  .bx_four_w p + p {
    margin-top: 5.37634vw;
  }
  .bx_four_w p .red {
    color: #FF0000;
  }
  .bx_four_w p strong {
    font-size: 4.30108vw;
    line-height: 1.5;
  }
}
