@charset "UTF-8";
html {
	font-size: 62.5%;
}

body {
	background-color: #FFFFFF;
	color: #000;
    font-family: "Noto Sans JP DemiLight";
	min-width: 1000px;
	margin: 0px auto;
}

.auto {
	background-color: #f3f3f3;
	background-image: url("../images/background_image.jpg");
	background-repeat: repeat-x;
	background-attachment: fixed;
	background-position: 50% 0%;
}

.cover {
	background-image: url("../images/background-image.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}

.header1 {
	background-image: url("../images/background-image.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: 50% 0%;
}

.header2 {
	background-color: #ffca02;
	background-image: url("../images/background-image2.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: 50% 0%;
}

.header3 {
	background-image: url("../images/background-image3.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: 50% 0%;
}

.header4 {
	background-image: url("../images/background-image4.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: 50% 0%;
}

img {
	max-width: 100%;
	height: auto;
}

a {
	color: #333;
	transition: opacity 0.4s linear;
}

a:hover, a:active {
	opacity: 0.8;
	transition: opacity 0.1s linear;
}

u {
text-decoration:none;
border-bottom:1px solid;
padding-bottom:2px; 
}


.container {
	width: 100%;
	margin: 0px auto;
}

.container-wb {
	background-color: #FFFFFF;
	margin: 0px auto;
	padding:  0px auto;
	}
	
.container-blue {
	background-color: #28bed1;
	margin: 0px auto;
	padding:  0px auto;
	}
	
.container-blue2 {
	background-color: #e4f8f8;
	margin: 0px auto;
	padding:  0px auto;
	}


.container-gb {
	background-color: #f0f5f6;
	margin: 0px auto;
	}

.container-inner {
	max-width: 1100px;
	margin: 0 auto;
	padding: 0px 0px 0px 0px ;
	box-shadow: 0 0 0px rgba(0, 0, 0, 0.8);
}

.container-inner_header {
	max-width: 1500px;
	margin: 0 auto;
	padding: 0px;
}

.container-inner_box {
	background-color: #FFF;
	box-shadow: 0 0 0px rgba(0, 0, 0, 0.8);
	max-width: 900px;
	padding: 65px;
	margin: 0 auto;
}

.container-inner_cta {
	max-width: 700px;
	text-align: center;
	margin: 0px auto;
	padding: 60px; 40px 30px 40px;
	margin-bottom: 0px;
}

.cta_bg {
	background-image: url("../images/entry_bg.png");
	width: 100%;
}

.container-inner p:last-child {
	margin-bottom: 0;
}

.container--max01 {
	background-color: #ccc;
	position: relative;
}

.container--max01 .container-inner {
	background-color: #ccc;
	box-shadow: none;
}

.container--max02 {
	background-color: #fff;
	position: relative;
}

.container--max02 .container-inner {
	background-color: #fff;
	box-shadow: none;
}

.br-onlypc {
	display: block;
}

.br-onlysp {
	display: none;
}

.image {
	line-height: 0;
}

.wrapper_f {
    width: 940px;
    height:818px;
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
    padding-top: 0px;
    background-image: url(../img/wrapper_f.png);
    background-repeat: no-repeat;
}

/*---------- メールフォーム1 ----------*/


.mailbox01 p {
color: #000;
text-indent: 0px;
margin: 0px;
}

.emailform{
margin:0 0 20px 0px;
padding:0px 0 0 0px;
width: 90%;
height: 80px;
font-size:22px;
border-radius:10px;
text-align:center;
background-color: #f3f3f3;
border-color:#dddddd;
padding-left:15px;
}

.timer{
	font-size: 126px;
	margin-top: -5px;
	margin-bottom: -70px;
}

.video{
	width: 92%;
	padding: 0px 0px 0px 0px;
	margin: 0px  0px 0px 0px;
	margin-top:  0px;
	margin-bottom:  0px;
	border: 0px;
    border-radius: 20px;
}

.video2{
	width: 92%;
	padding: 0px auto;
	margin: 0px auto;
	margin-top:  0px;
	margin-bottom:  0px;
}

p {
	font-size: 18px;
	line-height: 3.6rem;
	margin: 0 0 2.5rem;
	padding: 0px 40px 0px 40px;
	text-align: left;
	letter-spacing: 0.2px;
}

em {
	font-weight: bold;
	color: #ff0000;
	line-height: 2.8rem;
}

strong {
	font-size: 29px;
	font-weight: normal;
	line-height: 2.9rem;
}

b {
	font-weight: bold;
    font-family: "Noto Sans JP bold";
}

ul.list1 {
}

ul.list1 li {
	font-size: 18px;
	background: url("../images/check1.jpg") left center no-repeat;
	background-size: 16px;
	padding-left: 24px;
	padding-top: 4px
	padding-bottom: 4px;
	border-bottom: 1px dashed #ccc;
	}

ol {
	padding-left: 2rem;
	margin: 0 0 3.5rem 1rem;
}

ol li {
	font-size: 23px;
	list-style-type: decimal;
	list-style-position: outside;
}

h2 {
	font-size: 45px;
	font-weight: bold;
	text-align: left;
	color: #000;
	line-height: 3.5rem;
	padding: 0rem;
	margin: 0 0 1.0rem;
}

h3 {
	font-size: 26px;
	font-weight: bold;
	text-align: left;
	line-height: 3.5rem;
	padding: 0rem;
	margin: 0 0 2.0rem;
}

h4 {
	font-size: 45px;
	font-weight: bold;
	text-align: left;
	line-height: 5.0rem;
	padding: 0rem;
	margin: 0 0 2.5rem;
}

.introduction-title {
	background-color: #000;
	border-color: #000;
	font-size: 1.4rem;
	font-weight: bold;
	text-align: center;
	color: #fff;
	padding: 1rem 0;
	margin: 0 0 1rem;
}

.introduction-table {
	border-top: 1px solid #000;
	border-left: 1px solid #000;
	border-right: 1px solid #000;
	border-bottom: 1px solid #000;
	background-color: #fff;
	border-color: #000;
	font-size: 1.2rem;
	color: #000;
	width: 100%;
}

.introduction-table tbody tr th {
	border-top: 1px solid #000;
	border-left: 1px solid #000;
	border-right: 1px solid #000;
	border-bottom: 1px solid #000;
	font-weight: bold;
	border-color: #000;
	padding: 1rem;
	font-size: 1.2rem;
	width: 25%;
}

.introduction-table tbody tr td {
	border-bottom: 1px solid #000;
	border-color: #000;
	padding: 1rem;

}

.introduction-table tbody tr td p {
	font-size: 1.2rem;
	margin: 0;
}

.introduction-table tbody tr td ul, .introduction-table tbody tr td ol {
	margin: 0 0 0 1rem;
}

.introduction-table tbody tr td ul li, .introduction-table tbody tr td ol li {
	font-size: 1.2rem;
}


.footer {
	background-color: #fafafa;
	text-align: center;
	width: 100%;
}

.footer-inner {
	width: 100%;
	margin: 0 auto;
}

.footer-text {
	font-size: 12px;
	line-height: 1.8rem;
	padding: 2rem 0;
	margin: 0;
	color: #333;
	text-align: center;
}

.js-end {
	background-color: #000;
	font-size: 50px;
	font-weight: bold;
	color: #ff0000;
	text-align: center;
	max-width: 930px;
	margin: 0 auto;
	padding: 2rem 0;
}


/* ポイント*/
.point {
	margin: 10px -10px 0;
	padding: 40px 50px 10px;
	background-color: #ffe6eb;
}

.point_contet {
	margin: 25px auto;
	background: #fff;
	-webkit-border-top-left-radius: 7px;
	-webkit-border-top-right-radius: 7px;
	-webkit-border-bottom-right-radius: 7px;
	-webkit-border-bottom-left-radius: 7px;
	-moz-border-radius-topleft: 7px;
	-moz-border-radius-topright: 7px;
	-moz-border-radius-bottomright: 7px;
	-moz-border-radius-bottomleft: 7px;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
	overflow: hidden;
}

.point_text {
	padding: 30px;
}

/* ボイス */
.voice {
	max-width:1000px;
	margin: 0px 40px 40px 40px;
	background: #fff;
	border: 10px solid #eee;
	padding: 50px 0px 50px 0px;
	margin-top: 0px;
}

.voice h4 {
	text-align: center;
	margin-bottom: 20px;
}

.voice p {
	color: #213950;
	font-size: 17px;
	line-height: 2em;
	margin: 4px 30px;
	text-align: left;
}

.voice p span {
	display: inline;
	border-bottom: 1px dashed #ccc;
	padding-bottom: 7px;
}

/* ボイス 2 */
.voice_2 {
	width: 100%;
	margin: 0px auto 0;
	background: #fff;
	border: 2px solid #eee;
	padding: 36px 0;
}

.voice_2 h3 {
	color: #1b397e;
	font-size: 20px;
	line-height: 1.4em;
	margin: 5px 20px;
	padding-bottom: 10px;
	border-bottom: 1px solid #1b397e;
}

.voice_2 p {
	color: #1c2c3b;
	font-size: 19px;
	line-height: 1.8em;
	margin: 4px 20px;
}


/* ポイント2 */
.point_fig {
	position: relative;
	padding: 5px 5px 5px 5px;
	margin-bottom: -10px;
}

.point ul {
	background: url("../images/bg-p-bullet.gif");
	box-shadow: 0px 0px 4px 0px #bbb inset;
	-moz-box-shadow: 0px 0px 4px 0px #bbb inset;
	-webkit-box-shadow: 0px 0px 4px 0px #bbb inset;
	padding: 25px;
}

.point ul dt {
	background: url("../images/check1.png") left center no-repeat;
	background-size: 16px;
	padding-left: 22px;
	font-size: 20px;
	font-weight: bold;
}

.point ul dd {
	font-weight: normal;
	font-size: 15px;
	margin-bottom: 10px;
}

/* faq */
.faq {
	background: #fafafa;
	max-width: 860px;

}

.faq h4 {
	font-size: 28px;
	font-weight: bold;
	color: #2D5070;
}

.faq ul {
	border: 1px solid #ccc;
	-webkit-border-top-left-radius: 7px;
	-webkit-border-top-right-radius: 7px;
	-webkit-border-bottom-right-radius: 7px;
	-webkit-border-bottom-left-radius: 7px;
	-moz-border-radius-topleft: 7px;
	-moz-border-radius-topright: 7px;
	-moz-border-radius-bottomright: 7px;
	-moz-border-radius-bottomleft: 7px;
	overflow: hidden;
	margin-top: 20px;
}

.faq li {
	list-style: none;
	padding: 0;
}

.faq dt {
	background: url("../images/faq-q.png") #ccc 20px center no-repeat;
	padding: 15px 15px 15px 50px;
	font-size: 20px;
	font-weight: bold;
}

.faq dd {
	font-size: 15px;
	background: url("../images/faq-a.png") left 20px no-repeat;
	padding: 15px 15px 15px 30px;
	margin-left: 20px;
}

/* ラインリスト */
.line_list li{
	float: left;
	display: inline;
	padding-left: 10px;
	text-align: center;
}

.line_list li iframe{
	width: 500px;
}

.line_list li dd{
	font-size: 18px;
	line-height: 2;
	margin-top: 15px;
	text-align: center;
}

.line_list h3 img{
	width: 744px;
	text-align: center;
}

/* FONT-SIZE */
.fs6 {
	font-size: 6px !important;
	letter-spacing: -0.01px;
}

.fs8 {
	font-size: 8px !important;
	letter-spacing: -0.01px;
}

.fs9 {
	font-size: 9px !important;
	letter-spacing: -0.01px;
	line-height: 1.3;
}

.fs10 {
	font-size: 10px !important;
	letter-spacing: -0.01px;
	line-height: 1.3;
}

.fs11 {
	font-size: 11px !important;
	letter-spacing: -0.01px;
	line-height: 1.3;
}

.fs12 {
	font-size: 12px !important;
	line-height: 1.4;
}

.fs13 {
	font-size: 13px !important;
	line-height: 1.4;
}

.fs14 {
	font-size: 14px !important;
	line-height: 1.8;
}

.fs16 {
	font-size: 16px !important;
	line-height: 1.8;
}

.fs18 {
	font-size: 18px !important;
}

.fs20 {
	font-size: 20px !important;
}

.fs22 {
	font-size: 22px !important;
}

.fs24 {
	font-size: 24px !important;
}

.fs25 {
	font-size: 25px !important;
}

.fs26 {
	font-size: 26px !important;
}

.fs27 {
	font-size: 27px !important;
}

.fs28 {
	font-size: 28px !important;
}

.fs29 {
	font-size: 29px !important;
}

/* MARGIN */
.m0a {
	margin: 0px auto 0px !important;
}

.m10a {
	margin: 10px auto 0px !important;
}

.m20a {
	margin: 20px auto 0px !important;
}

.mt3 {
	margin-top: 3px !important;
}

.mt5 {
	margin-top: 5px !important;
}

.mt7 {
	margin-top: 7px !important;
}

.mt8 {
	margin-top: 8px !important;
}

.mt10 {
	margin-top: 10px !important;
}

.mt12 {
	margin-top: 12px !important;
}

.mt15 {
	margin-top: 15px !important;
}

.mt20 {
	margin-top: 20px !important;
}

.mt25 {
	margin-top: 25px !important;
}

.mt30 {
	margin-top: 30px !important;
}

.mt40 {
	margin-top: 40px !important;
}

.mt50 {
	margin-top: 50px !important;
}

.mr5 {
	margin-right: 5px !important;
}

.mr10 {
	margin-right: 10px !important;
}

.mr15 {
	margin-right: 10px !important;
}

.mr20 {
	margin-right: 20px !important;
}

.mr25 {
	margin-right: 25px !important;
}

.mr30 {
	margin-right: 30px !important;
}

.mr79 {
	margin-right: 79px !important;
}

.mb5 {
	margin-bottom: 5px !important;
}

.mb10 {
	margin-bottom: 10px !important;
}

.mb15 {
	margin-bottom: 15px !important;
}

.mb20 {
	margin-bottom: 20px !important;
}

.mb25 {
	margin-bottom: 25px !important;
}

.mb30 {
	margin-bottom: 30px !important;
}

.ml5 {
	margin-left: 5px !important;
}

.ml10 {
	margin-left: 10px !important;
}

.ml15 {
	margin-left: 15px !important;
}

.ml20 {
	margin-left: 20px !important;
}

.ml25 {
	margin-left: 25px !important;
}

.ml30 {
	margin-left: 30px !important;
}

.ml40 {
	margin-left: 40px !important;
}

.ml50 {
	margin-left: 50px !important;
}

.ml55 {
	margin-left: 55px !important;
}

.ml60 {
	margin-left: 60px !important;
}

/* PADDING */
.pt2 {
	padding-top: 2px !important;
}

.pt3 {
	padding-top: 3px !important;
}

.pt5 {
	padding-top: 5px !important;
}

.pt7 {
	padding-top: 7px !important;
}

.pt8 {
	padding-top: 8px !important;
}

.pt10 {
	padding-top: 10px !important;
}

.pt11 {
	padding-top: 11px !important;
}

.pt12 {
	padding-top: 12px !important;
}

.pt13 {
	padding-top: 13px !important;
}

.pt15 {
	padding-top: 15px !important;
}

.pt20 {
	padding-top: 20px !important;
}

.pt25 {
	padding-top: 25px !important;
}

.pt30 {
	padding-top: 30px !important;
}

.pt40 {
	padding-top: 40px !important;
}

.pt50 {
	padding-top: 50px !important;
}

.pr5 {
	padding-right: 5px !important;
}

.pr10 {
	padding-right: 10px !important;
}

.pr15 {
	padding-right: 15px !important;
}

.pr20 {
	padding-right: 20px !important;
}

.pr30 {
	padding-right: 30px !important;
}

.pr40 {
	padding-right: 40px !important;
}

.pr50 {
	padding-right: 50px !important;
}

.pb5 {
	padding-bottom: 5px !important;
}

.pb7 {
	padding-bottom: 7px !important;
}

.pb8 {
	padding-bottom: 8px !important;
}

.pb10 {
	padding-bottom: 10px !important;
}

.pb13 {
	padding-bottom: 13px !important;
}

.pb15 {
	padding-bottom: 15px !important;
}

.pb20 {
	padding-bottom: 20px !important;
}

.pb30 {
	padding-bottom: 30px !important;
}

.pb40 {
	padding-bottom: 40px !important;
}

.pb50 {
	padding-bottom: 50px !important;
}

.pl5 {
	padding-left: 5px !important;
}

.pl10 {
	padding-left: 10px !important;
}

.pl20 {
	padding-left: 20px !important;
}

.pl30 {
	padding-left: 30px !important;
}

.pl40 {
	padding-left: 40px !important;
}

.pl50 {
	padding-left: 50px !important;
}

.pl55 {
	padding-left: 55px !important;
}

/* ボーダー  */
.bobo {
	border-bottom: 1px solid #aaa !important;
}

.bono {
	border-bottom: none !important;
}

/* フロート  */

.fl {
	float: left !important;
	overflow: hidden !important;
	margin: 10px 20px 25px 10px;
	width: 170px;
}

.fr {
	float: right !important;
	overflow: hidden !important;
	margin: 0px 20px 25px 40px;
	width: 300px;
}

.fr_2 {
	float: right !important;
	overflow: hidden !important;
	margin: 5px 10px 5px 15px;
	width: 400px;
}



/* その他 */
.tal {
	text-align: left !important;
}

.tac {
	text-align: center !important;
}

.tar {
	text-align: right !important;
}

.ofh {
	overflow: hidden !important;
}

.clb {
	clear: both !important;
}

@media screen and (max-width: 767px) {
	body {
		min-width: 100%;
		line-height: 1.5;
	}
	p {
		font-size: 16px;
		line-height: 1.8;
		padding: 0px 20px 0px 20px;
		margin-bottom : 40px;
		text-align: left;
	}
	em {
	font-weight: bold;
	color: #ff0000;
	}
	strong {
		font-size: 22px;
		font-weight: bold;
	}
	
	b {
		font-weight: bold;
	}
	
	ul.list1 {
		padding: 12px 10px;
	}
	ul.list1 li {
		font-size: 16px;
		padding-top: 8px;
		padding-left: 24px;
	}
	ol {
		margin-left: 0;
		margin-bottom: 20px;
	}
	ol li {
		font-size: 14px;
		line-height: 1.5;
	}
	h3 {
		font-size: 24px;
		font-weight: bold;
		line-height: 1.3;
		padding: 0px 0px 0px 0px;
	}
	
	h4 {
		font-size: 32px;
		font-weight: bold;
		line-height: 1.3;
		padding: 20px 0px 0px 0px;
	}
	
	.auto, .cover {
		background: none;
	}
	
.header2 {
	background-color: #ffec02;	
	background-image: none;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: 50% 0%;
}

.header3 {
	background-color: #fff;	
	background-image: none;
}
	
	.container-inner {
		padding: 0px 0px 0px 0px;
		margin: 0px auto;
	}

.container-inner_header {
		padding: 0px 0px 0px 0px;
}


	.container-inner_cta {
		width: 100%;
		padding: 0px 0px 0px 0px;
		margin: 0px 0px 0px 0px;
	}	
	
	.container-inner_box {
		padding: 10px 10px;
		margin-left: 10px;
		margin-right: 10px;
		margin-bottom: 10px;
	}
	
	.br-onlypc {
		display: none;
	}
	.br-onlysp {
		display: block;
	}
	.introduction {
		margin: 0px;
		padding: 10px 10px;
	}
	.introduction-title {
		margin-bottom: 0;
	}
	.introduction-table {
		border-top: 1px solid #000;
		font-size: 11px;
		line-height: 1.363;
	}
	.introduction-table tbody tr th {
		font-size: 14px;
		width: 49%;
	}

	
	.emailform{
padding: 0px 0 0 0px;
width: 85%;
height: 60px;
font-size:16px;
border-radius:10px;
text-align:center;
border-color:#959595;
padding-left:15px;
margin: 5px;
}


	.timer{
	font-size: 56px;
	margin-top: -5px;
	margin-bottom: -110px;
	}

	.video{
	width: 90%;
	padding: 0px auto;
	padding-left: 0px;
	margin: 0px auto;
	margin-top: 10px;
	margin-bottom: 20px;
	padding-top: 12px;
}

	.video2{
	width: 80%;
	padding: 0px auto;
	padding-left: 0px;
	margin: 0px auto;
	margin-top: -20px;
	margin-bottom: 20px;
	padding-top: 0px;
}

	.point {
		background-size: contain;
		margin: 10px -10px 0;
		padding: 10px 10px 15px;
	}
	.point_contet {
		width: 96%;
		margin: 0 auto 15px;
	}
	.point_contet:last-child {
		margin-bottom: 0;
	}
	.point_text {
		padding: 10px 10px 0 10px;
	}
	.point_text p {
		font-size: 16px;
		line-height: 1.6615;
		margin-bottom: 12px;
	}
	.point_text em, .point_text b {
		font-size: 16px;
	}
	 .point_text strong{
		font-size: 16px;
	}
	.point_text .fr {
		width: 40%;
		margin-bottom: 0;
	}
	.point_text .fr:after {
		display: block;
		content: "";
		clear: both;
	}
	.point_text ul {
		padding: 12px 10px 0;
		margin-bottom: 12px;
	}
	.point_text ul li:last-child {
		padding-bottom: 12px;
	}
	.point_text ul li:last-child dd {
		margin-bottom: 0;
	}
	.point_text ul dt {
		font-size: 14px;
		margin-bottom: 5px;
	}
	.point_text ul dd {
		font-size: 12px;
		line-height: 1.5;
	}
	.point_fig {
		width: 100% !important;
	}
	
	.voice {
		border: 5px solid #eee;
		margin: 10px 15px 20px 15px;
		padding: 30px 0px 0px 0px;
		padding-bottom: 30px;
		width: 90%;
	}
	.voice h4 {
		margin-bottom: 0;
	}
	.voice p {
		font-size: 15px;
		margin: 0px 0px 0px 0px;
	}
	.voice p span {
	display: inline;
	border-bottom: 1px dashed #ccc;
	padding-bottom: 5px;
	}

	.voice_2 {
		border: 0px solid #eee;
		margin: 10px 15px 0px 15px;
		padding: 0px 0px 0px 0px;
		padding-bottom: 30px;
		width: 92%;
	}
	.voice_2 h3 {
		font-size: 18px;
		margin-bottom: 0;
	}
	.voice_2 p {
		font-size: 14px;
		margin: 0px auto;
		padding: 0px auto;
	}
	.voice_2 p span {
	display: inline;
	border-bottom: 1px dashed #ccc;
	padding-bottom: 5px;
	}

	
	
	.faq {
		margin: 24px -10px 0;
		padding: 10px;
	}
	.faq h4 {
		font-size: 15px;
		line-height: 1.2666;
	}
	.faq ul {
		margin-top: 7px;
	}
	.faq dt {
		background-position: left 7px center;
		font-size: 14px;
		line-height: 1.4615;
		padding: 13px 13px 13px 36px;
	}
	.faq dd {
		font-size: 13px;
		line-height: 1.8;
		background-position: left 7px top 10px;
		margin-left: 0;
		padding: 7px 13px 13px 36px;
	}
	.mt50 {
		margin-top: 15px !important;
	}
	
	/* フロート  */
.fl {
	float: left !important;
	overflow: hidden !important;
	margin: 0 0px 20px 0px;
	text-align: center;
	width: 100%;
}

.fr {
	float: right !important;
	overflow: hidden !important;
	margin: 0px 0px 20px 0px;
	text-align: center;
	width: 100%;
}

.fr_2 {
	float: right !important;
	overflow: hidden !important;
	margin: 0px 0px 0px 0px;
	text-align: center;
	width: 30%;
}



	
	/* ラインリスト */
.line_list li{
	float: none;
	display: inline;
	text-align: center;
	width: 60%;
	margin-top: 0px;
}

.line_list li iframe{
	width: 90%;
}

.line_list li dd dt{
	font-size: 14px;
	line-height: 1.0;
	margin-top: 0px;
	text-align: center;
}
    
    /*---------- 速報文字装飾 ----------*/
.sokuhou{
	font-size:32px;
	color: #00a0e9;
	font-weight: bold;
    text-align: center
}


}
/*---------- custum ----------*/
.switchRow {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}
.countBox {
	position: relative;
}
.countBox .btn {
	display: inline-block;
    position: absolute;
    top: 65px;
    left: 150px;
    cursor: pointer;
}
.countBox-main {
	position: relative;
	display: block;
}
.countBox .btn img {
	z-index: 999;
	position: relative;
    transition: all 400ms ease-in-out;
    -webkit-transition: all 400ms ease-in-out;
    -moz-transition: all 400ms ease-in-out;
    -o-transition: all 400ms ease-in-out;
}
.countBox .btn:hover img {
	opacity: 0.7;
}
.countBox .count-b {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #ED1C24;
    font-size: 105px;
    font-weight: bold;
    position: absolute;
    top: 70px;
    left: 600px;

}
.countBox .count-b span {
	font-size: 45px;
	font-weight: 900;
}
.ripple {
    display: block;
    position: absolute;
    top: 0;
    z-index: 99;
    width: 100%;
    height: 100%;
    background-color: #fbda3c;
    border-radius: 20px;
    box-shadow: 0 0 5px #fbda3c;
    animation-name: rippleAnimation;
    animation-timing-function: ease-out;
    animation-iteration-count: infinite;
    animation-duration: 2s;
    -webkit-animation-name: rippleAnimation;
    -webkit-animation-timing-function: ease-out;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-duration: 2s;
    -moz-animation-name: rippleAnimation;
    -moz-animation-timing-function: ease-out;
    -moz-animation-iteration-count: infinite;
    -moz-animation-duration: 2s;
}

@keyframes rippleAnimation {
    0% {
        transform: scale(1, 1);
        opacity: 1;
    }
    100% {
        transform: scale(1.2, 1.2);
        opacity: 0;
    }
}
@-webkit-keyframes rippleAnimation {
    0% {
        -webkit-transform: scale(1, 1);
        opacity: 1;
    }
    100% {
        -webkit-transform: scale(1.2, 1.2);
        opacity: 0;
    }
}
@-moz-keyframes rippleAnimation {
    0% {
        -moz-transform: scale(1, 1);
        opacity: 1;
    }
    100% {
        -moz-transform: scale(1.2, 1.2);
        opacity: 0;
    }
}
@media (max-width: 767px){
	.countBox .btn {
	    top: 220px;
	    left: 0;
	}
	.countBox .count-b {
		color: #ED1C24;
	    font-size: 75px;
	    font-weight: 900;
		font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	    position: absolute;
	    top: 60px;
	    left: 0;
	    width: 100%;
	    text-align: center;
	}
	
}