.mail_magazine {
  background: url('../images/background_2.jpg') 0 0 no-repeat;
  background-size: cover;
  &_main {
    padding: vw(42) vw(20);
    p {
      font-size: 0;
      img {
        max-width: 100%;
        width: auto;
        height: auto;
      }
    }
  }
  &_form {
    margin-top: vw(50);
    input[type="text"],input[type="email"] {
      width: 100%;
      font-size: vw(28);
      line-height: 1.5;
      font-family: $light;
      outline: none;
      border: 0;
      box-shadow: none;
      height: vw(90);
      padding: 0 0 0 vw(20);
      background: #fff;
    }
    input {
      + input {
        margin-top: vw(20);
      }
    }
    .sml_email {
      margin-top: vw(20);
    }
    &_btn,.sml_submit {
      display: flex;
      justify-content: center;
      margin-top: vw(40);
      button, input[type="submit"] {
        width: vw(278);
        height: vw(78);
        border-radius: vw(39);
        display: inline-flex;
        justify-content: center;
        align-items: center;
        color: #fff;
        font-size: vw(30);
        font-family: $medium;
        border: 0;
        box-shadow: none;
        outline: none;
        cursor: pointer;
        background: #FF3050;
      }
    }
  }
}
.footer {
  &_main {
    &_top {
      background: url('../images/background_4.jpg') center no-repeat;
      background-size: cover;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: vw(95) 0 vw(155) 0;
      p {
        width: vw(518);
        img {
          max-width: 100%;
          width: auto;
          height: auto;
        }
      }
      a {
        display: flex;
        justify-content: center;
        align-items: center;
        width: vw(292);
        height: vw(82);
        border-radius: vw(41);
        color: #fff;
        font-size: vw(30);
        font-family: $black;
        background: #39B54A;
        margin-top: 60px;
      }
    }
    &_copy {
      text-align: center;
      padding: vw(50) 0 vw(30);
      background: #000;
      color: #fff;
      > a {
        width: vw(400);
        display: inline-block;
        margin-bottom: vw(30);
      }
      > ul {
        display: none;
      }
      > p {
        font-size: vw(22);
        line-height: 1;
        font-family: $light;
      }
    }
  }
}