.mail_magazine {
  background: url('../images/background_2.jpg') 0 0 no-repeat;
  background-size: cover;
  &_main {
    padding: 77px 115px;
    @media only screen and (max-width: 1100px) {
      padding: 77px 50px;
    }
    p {
      font-size: 0;
      text-align: center;
      img {
        max-width: 80%;
        width: auto;
        height: auto;
      }
    }
  }
  &_form {
    margin-top: 65px;
    input[type="text"],input[type="email"] {
      width: 100%;
      font-size: 2.6rem;
      line-height: 3.6rem;
      font-family: $light;
      outline: none;
      border: 0;
      box-shadow: none;
      height: 78px*0.8;
      padding: 0 0 0 25px;
      background: #fff;
    }
    .sml_email {
      margin-top: 20px;
    }
    input {
      + input {
        margin-top: 20px;
      }
    }
    &_btn,.sml_submit {
      display: flex;
      justify-content: center;
      margin-top: 35px;
      button, input[type="submit"] {
        width: 244px*0.8;
        height: 69px*0.8;
        border-radius: 34px*0.8;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        color: #fff;
        font-size: 2.2rem;
        font-family: $medium;
        border: 0;
        box-shadow: none;
        outline: none;
        cursor: pointer;
        background: #FF3050;
      }
    }
  }
}
.footer {
  overflow: hidden;
  &_main {
    &_top {
      background: url('../images/background_4.jpg') center no-repeat;
      background-size: cover;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 65px 0 130px 0;
      p {
        width: 600px*0.8;
        img {
          max-width: 100%;
          width: auto;
          height: auto;
        }
      }
      a {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 350px*0.8;
        height: 69px*0.8;
        border-radius: 34px*0.8;
        color: #fff;
        font-size: 2.2rem;
        font-family: $black;
        background: #39B54A;
        margin-top: 60px;
      }
    }
    &_copy {
      text-align: center;
      background: #000;
      color: #fff;
      padding: 50px 0 30px;
      > a {
        display: inline-block;
        width: 400px;
        img {
          width: 100%;
          height: auto;
        }
      }
      > ul {
        width: 100%;
        display: flex;
        justify-content: center;
        margin: 50px 0 30px;
        li {
          padding: 0 50px;
          border-left: 1px solid #fff;
          &:first-child {
            padding-left: 0;
            border-left: 0;
          }
          &:last-child {
            padding-right: 0;
          }
          a {
            font-size: 2.4rem;
            font-family: $light;
            line-height: 1;
            color: #fff;
          }
        }
      }
      > p {
        font-size: 2rem;
        line-height: 1;
        font-family: $light;
      }
    }
  }
}
.footer_main {
  display: flex;
  .mail_magazine {
    width: 50%;
    &_main {
      padding: 77px 100px;
      @media only screen and (max-width: 1100px) {
        padding: percentage(70/1100);
      }
    }
    &_form {
      @media only screen and (max-width: 1100px) {
        margin-top: percentage(60/1100);
      }
    }
  }
  &_top {
    width: 50%;
    @media only screen and (max-width: 1100px) {
      padding: percentage(65/1100) 0 percentage(130/1100);
      p {
        text-align: center;
        img {
          max-width: 80%;
        }
      }
    }
  }
}