.header {
  &.toppage {
    position: fixed;
    width: 100%;
    z-index: 99;
    left: 0;
    top: 0;
    .header_main {
      h1 {
        a::after {
          background: url('../images/logo_sp.png') 0 0 no-repeat;
          background-size: contain;
        }
      }
    }
    .menu {
      p::after {
        background: url('../images/txt_menu_w.png') 0 0 no-repeat;
        background-size: contain;
      }
      .icon_menu {
        .icon_inner {
          background: #fff;
          &::before,
          &::after {
            background: #fff;
          }
        }
      }
    }
  }
  &_main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: vw(20);
    h1 {
      font-size: 0;
      width: vw(300);
      a {
        display: block;
        position: relative;
        height: vw(60);
        &::after {
          position: absolute;
          content: "";
          width: 100%;
          height: vw(60);
          background: url('../images/pulasedo_logo.svg') 0 0 no-repeat;
          background-size: contain;
          left: 0;
          top: 0;
        }
        img {
          display: none;
        }
      }
    }
    &_nav {
      position: absolute;
      width: 100%;
      height: 0;
      left: 0;
      z-index: 99;
      visibility: hidden;
      backface-visibility: hidden;
      opacity: 0;
      transition: all 0.35s linear;
      overflow-y: scroll;
      background: rgba(0, 0, 0, 0.9);
      &.open {
        opacity: 1;
        visibility: visible;
      }
      ul {
        &:nth-of-type(1) {
          padding-top: 40px;
        }
        li {
          text-align: center;
          &:not(:last-child) {
            margin-bottom: 30px;
          }
          a {
            font-size: rem(20);
            line-height: 1.5;
            color: #fff;
            font-weight: bold;
            font-family: $bold;
            text-transform: uppercase;
            display: inline-block;
            position: relative;
            transform: perspective(1px) translateZ(0);
          }
        }
      }
    }
  }
  .menu {
    display: flex;
    align-items: center;
    p {
      font-size: 0;
      margin-right: vw(20);
      position: relative;
      width: vw(45);
      &::after {
        position: absolute;
        content: "";
        width: vw(45);
        height: vw(13);
        background: url('../images/txt_menu.png') 0 0 no-repeat;
        background-size: contain;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
      }
      img {
        display: none;
      }
    }
    &.open {
      .icon_menu {
        .icon_inner {
          transition-delay: .1s;
          transform: translate3d(0, #{vw(15)}, 0) rotate(135deg);
          &::before {
            transition-delay: 0s;
            opacity: 0;
          }
          &::after {
            transition-delay: .1s;
            transform: translate3d(0, #{vw(-30)}, 0) rotate(-270deg);
          }
        }
      }
    }
    .icon_menu {
      position: relative;
      width: vw(40);
      height: vw(30);
      %menusp {
        position: absolute;
        width: 100%;
        height: 2px;
        transition-timing-function: ease;
        transition-duration: .1s;
        transition-property: transform;
        background-color: #000;
      }
      .icon_inner {
        @extend %menusp;
        transition-timing-function: cubic-bezier(.68, -.55, .265, 1.55);
        transition-duration: .4s;
        display: block;
        top: 0;
        left: 0;
        margin-top: -1px;
        &::before,
        &::after {
          content: "";
          display: block;
        }
        &::before {
          top: vw(15);
          transition: opacity .15s ease .4s;
          @extend %menusp;
        }
        &::after {
          top: vw(30);
          transition: transform .4s cubic-bezier(.68, -.55, .265, 1.55);
          @extend %menusp;
        }
      }
    }
  }
  &::before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #fff;
    transform: scaleX(0);
    transform-origin: 50%;
    transition: -webkit-transform;
    transition: transform;
    transition: transform, -webkit-transform;
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
  }
  &.fixed {
    &::before {
      transform: scale(1);
    }
    .header_main {
      h1 {
        a {
          &::after {
            background: url('../images/pulasedo_logo.svg') 0 0 no-repeat;
            background-size: contain;
          }
          img {
            display: none;
          }
        }
      }
    }
    .menu {
      p {
        &::after {
          background: url('../images/txt_menu.png') 0 0 no-repeat;
          background-size: contain;
        }
      }
      .icon_menu {
        .icon_inner {
          background: #000;
          &::before,
          &::after {
            background: #000;
          }
        }
      }
    }
  }
  &.fixed2 {
    position: fixed;
    width: 100%;
    z-index: 99;
    left: 0;
    top: 0;
    background: #fff;
  }
}