.header {
  &.fixed {
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 99;
    background: #fff;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
    .header_main {
      padding: 7px 0 7px 15px;
      &_logo {
        width: 180px;
      }
      &_nav {
        ul {
          li {
            padding: 5px 30px 7px;
          }
        }
      }

    }
  }

  &_main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 14px 0 14px 15px;
    transform: all 0.3s ease;
    &_logo {
      transition: all 0.3s ease;
      width: 300px;
      img {
        width: 100%;
        height: auto;
      }
    }
    &_nav {
      ul {
        display: flex;
        li {
          padding: 10px 35px 14px;
          border-left: 1px solid #ccc;
          transition: all 0.3s ease;
          a {
            font-size: 2rem;
            line-height: 1;
            font-family: $medium;
            color: #000;
            position: relative;
            padding: 0 0 18px 0;
            display: inline-block;
            &::after {
              position: absolute;
              content: attr(data-en);
              bottom: 0;
              left: 50%;
              transform: translateX(-50%);
              font-size: 1rem;
              line-height: 1;
              font-family: $medium;
              color: #808080;
              white-space: nowrap;
              word-break: keep-all;
            }
            &::before {
              position: absolute;
              content: "";
              z-index: -1;
              left: 0;
              right: 100%;
              bottom: 18px;
              background: linear-gradient(transparent 40%, #ecec08 40%);
              height: 10px;
              transition-property: right;
              transition-duration: 0.3s;
              transition-timing-function: ease-out;
            }
            &:hover {
              &::before {
                right: 0;
              }
            }
          }
        }
      }
    }
  }
}
.menu {
  display: none;
}
@media only screen and (max-width: 1100px) {
  .header {
    &.fixed {
      .header_main {
        padding: 7px 15px;
      }
    }
    &_main {
      padding: 14px 15px;
      &_nav {
        position: absolute;
        width: 100%;
        height: 0;
        left: 0;
        z-index: 99;
        visibility: hidden;
        backface-visibility: hidden;
        opacity: 0;
        transition: all 0.35s linear;
        overflow-y: scroll;
        background: rgba(0, 0, 0, 0.9);
        &.open {
          opacity: 1;
          visibility: visible;
        }
        ul {
          display: block;
          &:nth-of-type(1) {
            padding-top: 40px;
          }
          li {
            text-align: center;
            &:not(:last-child) {
              margin-bottom: 10px;
            }
            a {
              color: #fff;
            }
          }
        }
      }
    }
  }
  .menu {
    display: flex;
    align-items: center;
    p {
      font-size: 0;
      margin-right: 20px;
    }
    &.open {
      .icon_menu {
        .icon_inner {
          transition-delay: .1s;
          transform: translate3d(0, 15px, 0) rotate(135deg);
          &::before {
            transition-delay: 0s;
            opacity: 0;
          }
          &::after {
            transition-delay: .1s;
            transform: translate3d(0, -30px, 0) rotate(-270deg);
          }
        }
      }
    }
    .icon_menu {
      position: relative;
      width: 40px;
      height: 30px;
      %menu {
        position: absolute;
        width: 100%;
        height: 2px;
        transition-timing-function: ease;
        transition-duration: .1s;
        transition-property: transform;
        background-color: #000;
      }
      .icon_inner {
        @extend %menu;
        transition-timing-function: cubic-bezier(.68, -.55, .265, 1.55);
        transition-duration: .4s;
        display: block;
        top: 0;
        left: 0;
        margin-top: -1px;
        &::before,
        &::after {
          content: "";
          display: block;
        }
        &::before {
          top: 15px;
          transition: opacity .15s ease .4s;
          @extend %menu;
        }
        &::after {
          top: 30px;
          transition: transform .4s cubic-bezier(.68, -.55, .265, 1.55);
          @extend %menu;
        }
      }
    }
  }
}