@charset "utf-8";
// ===================================================================
//  common.css
// ===================================================================

@import "_mixin/mixin";
//----------------------------------------------------
//  共通
//----------------------------------------------------
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

a,
a:link,
a:visited,
a:active,
a:hover {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  filter: alpha(opacity=80);
  -ms-filter: "alpha(opacity=80)";
  opacity: .80;
}

a:hover img {
  filter: alpha(opacity=80);
  -ms-filter: "alpha(opacity=80)";
  opacity: .80;
}

a:focus {
  outline: none;
}

img {
  vertical-align: bottom;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}


html {
  font-size: 8px;
}

body,
td,
th,
input,
textarea {
  color: #111;
  font-family: '游ゴシック','Yu Gothic',YuGothic,'Hiragino Kaku Gothic Pro','ヒラギノ角ゴ Pro W3',  Osaka, 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', Tahoma, Verdana, Arial, Verdana, sans-serif;
  font-size: 1.3rem;
  line-height: 1.5;
}
a {
  color: #111;
}
body {
  overflow-wrap: break-word;
  word-break: break-word;
}
img {
  vertical-align: bottom;
}
/* clearfix (micro) */
.clearfix:before,
.clearfix:after {
  content: ' ';
  display: table;
}
.clearfix:after {
  clear: both;
}
/* For IE 6/7 only */
.clearfix {
  *zoom: 1;
}
ul,
ol,
li {
  list-style: none;
}

//---------------------------------------------------------------------------
html,
body {
  width: 100%;
  height: 100%;
}
/* .row {
  max-width: 1100px;
  width: 100%;
  margin: 0 auto;
} */
* {
  box-sizing: border-box;
}
//---------------------------------------------------------------------------
// .gmnoprint a,
// .gmnoprint span,
// .gm-style-cc,
// .gm-style-mtc,
// a[href^="https://www.google.com/maps"],
// a[href^="http://maps.google.com/maps"],
// a[href^="https://maps.google.com/maps"] {
//   display:none !important
// }
@font-face {
  font-family: 'Noto Sans JP DemiLight';
  font-style: normal;
  font-weight: 300;
  src: local("Noto Sans CJK JP DemiLight"),
  url(//fonts.gstatic.com/ea/notosansjapanese/v6/NotoSansJP-DemiLight.woff2) format('woff2'),
   url(//fonts.gstatic.com/ea/notosansjapanese/v6/NotoSansJP-DemiLight.woff) format('woff'),
   url(//fonts.gstatic.com/ea/notosansjapanese/v6/NotoSansJP-DemiLight.otf) format('opentype');
}
@font-face {
  font-family: 'Noto Sans JP Regular';
  font-style: normal;
  font-weight: 400;
  src: local("Noto Sans CJK JP Regular"),
       url(//fonts.gstatic.com/ea/notosansjp/v5/NotoSansJP-Regular.woff2) format('woff2'),
       url(//fonts.gstatic.com/ea/notosansjp/v5/NotoSansJP-Regular.woff) format('woff'),
       url(//fonts.gstatic.com/ea/notosansjp/v5/NotoSansJP-Regular.otf) format('opentype');
}
@font-face {
  font-family: 'Noto Sans JP Medium';
  font-style: normal;
  font-weight: 500;
  src: local("Noto Sans CJK JP Medium"),
       url(//fonts.gstatic.com/ea/notosansjp/v5/NotoSansJP-Medium.woff2) format('woff2'),
       url(//fonts.gstatic.com/ea/notosansjp/v5/NotoSansJP-Medium.woff) format('woff'),
       url(//fonts.gstatic.com/ea/notosansjp/v5/NotoSansJP-Medium.otf) format('opentype');
}
@font-face {
  font-family: 'Noto Sans JP Bold';
  font-style: normal;
  font-weight: 700;
  src: local("Noto Sans CJK JP Bold"),
       url(//fonts.gstatic.com/ea/notosansjp/v5/NotoSansJP-Bold.woff2) format('woff2'),
       url(//fonts.gstatic.com/ea/notosansjp/v5/NotoSansJP-Bold.woff) format('woff'),
       url(//fonts.gstatic.com/ea/notosansjp/v5/NotoSansJP-Bold.otf) format('opentype');
}
@font-face {
  font-family: 'Noto Sans JP Black';
  font-style: normal;
  font-weight: 900;
  src: local("Noto Sans CJK JP Black"),
       url(//fonts.gstatic.com/ea/notosansjp/v5/NotoSansJP-Black.woff2) format('woff2'),
       url(//fonts.gstatic.com/ea/notosansjp/v5/NotoSansJP-Black.woff) format('woff'),
       url(//fonts.gstatic.com/ea/notosansjp/v5/NotoSansJP-Black.otf) format('opentype');
}
body {
  font-feature-settings : "palt";
}
@include min-screen() {
  @import "./_common_pc.scss";
}
@include max-screen() {
  @import "./_common_sp.scss";
}
.effect {
  transition: all 1s ease;
}
.delay_03 {
  transition: all 1s ease 0.3s;
}
.delay_06 {
  transition: all 1s ease 0.6s;
}
.delay_09 {
  transition: all 1s ease 0.9s;
}
.delay_12 {
  transition: all 1s ease 1.2s;
}
.delay_15 {
  transition: all 1s ease 1.5s;
}
.delay_18 {
  transition: all 1s ease 1.8s;
}
.fadeIn {
  opacity: 0;
  &.active {
    opacity: 1;
  }
}
.slideUp {
  transform: translate3d(0,100px,0);
  opacity: 0;
  &.active {
    opacity: 1;
    transform: translate3d(0,0,0);
  }
}
.slideToRight {
  transform: translate3d(-100px,0,0);
  opacity: 0;
  &.active {
    opacity: 1;
    transform: translate3d(0,0,0);
  }
}
.slideToLeft {
  transform: translate3d(100px,0,0);
  opacity: 0;
  &.active {
    opacity: 1;
    transform: translate3d(0,0,0);
  }
}
.maskToRight {
  position: relative;
  transform: translateZ(0);
  overflow: hidden;
  &::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    transform: translate3d(0,0,0);
    background: #fff;
    transition: all 0.8s linear;
    z-index: 2;
  }
  &.active {
    &::before {
      transform: translate3d(100%,0,0);
      // transform: matrix(1, 0, 0, 1, 1280, 0);
    }
  }
}
.waveText {
  display: inline-block;
  will-change: transform;
  animation-name: waveText;
  animation-duration: 4s;
  animation-iteration-count: 1;
  animation-direction: alternate;
}
