@charset "utf-8";
// ===================================================================
//  use index page
// ===================================================================
.s_first {
  position: relative;
  transform: translateZ(0);
  &_main {
    padding: vw(35) 0 0;
    &_l {
      width: 100%;
      padding: 0 vw(20);
      h2 {
        font-size: 0;
      }
      h3 {
        font-size: vw(28);
        line-height: 1;
        font-family: $bold;
        margin-top: vw(50);
        margin-bottom: 27px;
      }
      p {
        font-size: vw(22);
        line-height: 1.6;
        font-family: $light;
        + p {
          margin-top: vw(30);
        }
      }
    }
    &_f {
      width: 100%;
    }
  }
}
.service {
  &_main {
    padding: vw(80) 0 87px 0;
    h2 {
      text-align: center;
      font-size: vw(55);
      line-height: 1;
      font-family: $bold;
      color: #000;
    }
    > p {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: vw(27);
      &::before,&::after {
        position: relative;
        content: "";
        width: vw(103);
        height: vw(5);
        background: url('../images/doc_black.png') 0 0 repeat-x;
        background-size: #{vw(14)} #{vw(5)};
      }
      span {
        display: inline-block;
        font-size: vw(23);
        line-height: 1;
        font-family: $black;
        margin: 0 vw(44);
      }
    }
    &_w {
      margin-top: vw(70);
      justify-content: space-between;
      padding: 0 vw(20);
    }
    &_ar {
      &:not(:first-child) {
        margin-top: vw(83);
      }
      figure {
        img {
          max-width: 100%;
          width: auto;
          height: auto;
        }
      }
      h3 {
        font-size: vw(31);
        line-height: 1;
        font-family: $black;
        margin-top: vw(40);
        margin-bottom: vw(40);
      }
      p {
        font-size: vw(22);
        line-height: 1.5;
        font-family: $light;
      }
      &_btn {
        display: flex;
        justify-content: center;
        margin-top: vw(30);
        a {
          display: flex;
          width: vw(292);
          height: vw(82);
          justify-content: center;
          align-items: center;
          border-radius: vw(41);
          background: #000;
          color: #fff;
          font-size: vw(30);
          font-family: $medium;
        }
      }
    }
  }
}
.impres {
  background: #32B43C;
  padding: vw(60) 0 vw(94) 0;
  &_main {
    h2 {
      text-align: center;
      font-size: vw(55);
      line-height: 1.3;
      font-family: $bold;
      color: #fff;
    }
    > p {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: vw(27);
      color: #fff;
      padding-bottom: vw(30);
      position: relative;
      &::before{
        position: absolute;
        content: "";
        width: vw(103);
        height: vw(5);
        background: url('../images/doc_white.png') 0 0 repeat-x;
        background-size: #{vw(14)} #{vw(5)};
        left: 50%;
        transform: translateX(-50%);
        bottom: 0;
      }
      span {
        display: inline-block;
        font-size: vw(23);
        line-height: 1;
        font-family: $black;
      }
    }
  }
  &_slider {
    margin-top: vw(50);
    padding: 0 vw(20);
    &::after {
      content: "";
      display: table;
      clear: both;
    }
  }
  &_ar {
    width: 100%;
    background: #fff;
    padding: vw(27) vw(30) vw(45) vw(30);
    figure {
      width: 100%;
      img {
        width: 100%;
        height: auto;
      }
    }
    &_txt {
      font-size: vw(20);
      line-height: 1.6;
      font-family: $light;
      margin-top: vw(12);
    }
  }
  .slick-dots {
    position: absolute;
    bottom: vw(-55);
    list-style: none;
    display: block;
    text-align: center;
    padding: 0;
    margin: 0;
    width: 100%;
    li {
      position: relative;
      display: inline-block;
      height: vw(20);
      width: vw(20);
      margin: 0 vw(5);
      padding: 0;
      cursor: pointer;
      button {
        border: 0;
        background: transparent;
        display: block;
        height: vw(20);
        width: vw(20);
        outline: none;
        line-height: 0px;
        font-size: 0px;
        color: transparent;
        padding: vw(5);
        cursor: pointer;
        &:hover, &:focus {
          outline: none;
          &:before {
            opacity: 0.8;
          }
        }
        &:before {
          position: absolute;
          top: 0;
          left: 0;
          content: "";
          width: vw(20);
          height: vw(20);
          background: rgba(#fff,0.6);
          border-radius: 50%;
        }
      }
      &.slick-active button:before {
        background: rgba(#fff,1);
      }
    }
  }
}
.profile {
  background: url('../images/background_3.jpg') 0 0 no-repeat;
  background-size: cover;
  &_main {
    &_f {
      width: 100%;
      img {
        width: 100%;
        height: auto;
      }
    }
    &_i {
      width: 100%;
      background: #fff;
      padding: vw(25) vw(20);
      h2 {
        display: none;
      }
      h3 {
        font-size: vw(25);
        line-height: 1;
        font-family: $bold;
        color: #000;
        margin-bottom: vw(20);
      }
      p {
        font-size: vw(20);
        line-height: 1.6;
        font-family: $light;
      }
    }
    &_s {
      margin-top: vw(40);
      padding-top: vw(27);
      border-top: vw(4) solid #ff0000;
      ul {
        display: flex;
        li {
          width: vw(69);
          &:not(:last-child) {
            margin-right: vw(20);
          }
          a {
            display: block;
            width: 100%;
            img {
              width: 100%;
              height: auto;
              border-radius: 50%;
            }
          }
        }
      }
    }
  }
}
.lastest {
  &_main {
    padding: vw(77) 0 vw(25);
    h2 {
      text-align: center;
      font-size: vw(55);
      line-height: 1;
      font-family: $bold;
      color: #000;
    }
    > p {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: vw(27);
      color: #000;
      padding-bottom: vw(30);
      position: relative;
      &::before{
        position: absolute;
        content: "";
        width: vw(103);
        height: vw(5);
        background: url('../images/doc_black.png') 0 0 repeat-x;
        background-size: #{vw(14)} #{vw(5)};
        left: 50%;
        transform: translateX(-50%);
        bottom: 0;
      }
      span {
        display: inline-block;
        font-size: vw(23);
        line-height: 1;
        font-family: $black;
      }
    }
    &_wrap {
      margin-top: vw(57);
      ul {
        li {
          padding: vw(15) vw(20);
          border-top: 1px solid #B3B3B3;
          a {
            display: block;
            &::after {
              content: "";
              clear: both;
              display: table;
            }
            figure {
              float: left;
              width: vw(133);
              margin-right: vw(25);
              img {
                width: 100%;
                height: auto;
                border-radius: vw(6);
              }
            }
            em {
              font-style: normal;
              font-size: vw(18);
              line-height: 1;
              padding: vw(5) vw(10);
              background: #000;
              color: #fff;
              font-family: $medium;
              float: left;
              margin-right: vw(10);
            }
            time {
              font-size: vw(18);
              line-height: 1;
              font-family: $bold;
              margin-top: vw(5);
              display: inline-block;
              color: gray;
            }
            span {
              display: block;
              font-size: vw(20);
              line-height: 1.6;
              margin-top: vw(10);
              font-family: $bold;
            }
          }
        }
      }
    }
  }
}