@charset "utf-8";
// ===================================================================
//  use index page
// ===================================================================
.fv {
  background: url('../images/background_1.jpg') 0 0 no-repeat;
  background-size: cover;
  text-align: center;
  img {
    max-width: 100%;
    width: auto;
    height: auto;
  }
}
.s_first {
  position: relative;
  transform: translateZ(0);
  &::before,&::after {
    position: absolute;
    content: "";
    z-index: -1;
  }
  &::before {
    left: 0;
    top: 0;
    width: 251px*0.8;
    height: 137px*0.8;
    background: url('../images/image_3.png') 0 0 no-repeat;
    background-size: contain;
  }
  &::after {
    right: 0;
    bottom: 0;
    width: 408px*0.8;
    height: 275px*0.8;
    background: url('../images/image_2.png') 0 0 no-repeat;
    background-size: contain;
  }
  @media only screen and (max-width: 1100px) {
    padding: 0 43px;
  }
  &_main {
    padding: 100px 0 120px;
    display: flex;
    justify-content: space-between;
    &_l {
      /* max-width: calc(100% - 460px); */
      width: percentage(540/1000);
      padding-right: 40px;
      h2 {
        font-size: 0;
        img {
          max-width: 80%;
          width: auto;
          height: auto;
        }
      }
      h3 {
        font-size: 3rem;
        line-height: 1;
        font-family: $bold;
        margin-top: 60px;
        margin-bottom: 27px;
      }
      p {
        font-size: 2rem;
        line-height: 3.4rem;
        font-family: $light;
        + p {
          margin-top: 30px;
        }
      }
    }
    &_f {
      max-width: 460px;
      width: percentage(508/1100);
      padding: 105px 0 0;
      img {
        max-width: 100%;
        width: auto;
        height: auto;
      }
    }
  }
}
.service {
  &_main {
    padding: 60px 0 87px 0;
    h2 {
      text-align: center;
      font-size: 6.1rem;
      line-height: 1;
      font-family: $bold;
      color: #000;
    }
    > p {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 30px;
      &::before,&::after {
        position: relative;
        content: "";
        width: 103px*0.8;
        height: 5px;
        background: url('../images/doc_black.png') 0 0 repeat-x;
      }
      span {
        display: inline-block;
        font-size: 2.3rem;
        line-height: 1;
        font-family: $black;
        margin: 0 50px;
      }
    }
    &_w {
      margin-top: 70px;
      justify-content: space-around;
      padding: 0 32px;
      display: flex;
    }
    &_ar {
      max-width: 475px*0.8;
      width: percentage(475/1036);
      figure {
        img {
          max-width: 100%;
          width: auto;
          height: auto;
        }
      }
      p {
        font-size: 1.8rem;
        line-height: 3.4rem;
        font-family: $light;
      }
      &_btn {
        display: flex;
        justify-content: center;
        margin-top: 30px;
        a {
          display: flex;
          width: 320px*0.8;
          height: 69px*0.8;
          justify-content: center;
          align-items: center;
          border-radius: 34px*0.8;
          background: #000;
          color: #fff;
          font-size: 2.2rem;
          font-family: $medium;
        }
      }
    }
  }
}
.impres {
  background: #32B43C;
  padding: 60px 0 151px 0;
  &_main {
    h2 {
      text-align: center;
      font-size: 6.1rem;
      line-height: 1;
      font-family: $bold;
      color: #fff;
    }
    > p {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 30px;
      &::before,&::after {
        position: relative;
        content: "";
        width: 103px*0.8;
        height: 5px;
        background: url('../images/doc_white.png') 0 0 repeat-x;
      }
      span {
        display: inline-block;
        font-size: 2.3rem;
        line-height: 1;
        font-family: $black;
        margin: 0 50px;
        color: #fff;
      }
    }
  }
  &_slider {
    margin-top: 70px;
    &::after {
      content: "";
      display: table;
      clear: both;
    }
  }
  &_ar {
    width: 100%;
    background: #fff;
    padding: 32px 24px 50px 24px;
    display: flex!important;
    flex-direction: row-reverse;
    justify-content: space-between;
    figure {
      width: 300px;
      img {
        width: 100%;
        height: auto;
      }
    }
    &_txt {
      font-size: 1.6rem;
      line-height: 3.4rem;
      font-family: $light;
      margin-top: 12px;
      width: calc(100% - 330px);
    }
  }
  .slick-dots {
    position: absolute;
    bottom: -82px;
    list-style: none;
    display: block;
    text-align: center;
    padding: 0;
    margin: 0;
    width: 100%;
    li {
      position: relative;
      display: inline-block;
      height: 20px;
      width: 20px;
      margin: 0 5px;
      padding: 0;
      cursor: pointer;
      button {
        border: 0;
        background: transparent;
        display: block;
        height: 20px;
        width: 20px;
        outline: none;
        line-height: 0px;
        font-size: 0px;
        color: transparent;
        padding: 5px;
        cursor: pointer;
        &:hover, &:focus {
          outline: none;
          &:before {
            opacity: 0.8;
          }
        }
        &:before {
          position: absolute;
          top: 0;
          left: 0;
          content: "";
          width: 20px;
          height: 20px;
          line-height: 20px;
          background: rgba(#fff,0.6);
          border-radius: 50%;
        }
      }
      &.slick-active button:before {
        background: rgba(#fff,1);
      }
    }
  }
}
.profile {
  background: #F6F6F6;
  &_main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 32px 0 0;
    &_f {
      width: 350px;
      img {
        width: 100%;
        height: auto;
      }
    }
    &_i {
      width: 644px;
      padding: 45px 35px;
      h2 {
        font-size: 9rem;
        line-height: 1;
        font-family: $black;
        color: #FF0000;
        position: relative;
        margin-bottom: 23px;
      }
      h3 {
        font-size: 2.3rem;
        line-height: 1;
        font-family: $bold;
        color: #000;
        margin-bottom: 10px;
        padding-bottom: 10px;
        border-bottom: 1px solid #E0E0E0;
        
      }
      p {
        font-size: 1.8rem;
        line-height: 3.4rem;
        font-family: $light;
        + p {
          margin-top: 30px;
        }
      }
    }
    &_s {
      margin-top: 50px;
      ul {
        display: flex;
        li {
          width: 69px*0.8;
          &:not(:last-child) {
            margin-right: 20px;
          }
          a {
            display: block;
            width: 100%;
            img {
              width: 100%;
              height: auto;
              border-radius: 50%;
            }
          }
        }
      }
    }
  }
}
.lastest {
  &_main {
    padding: 90px 0 160px;
    h2 {
      text-align: center;
      font-size: 6.1rem;
      line-height: 1;
      font-family: $bold;
      color: #000;
    }
    > p {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 30px;
      &::before,&::after {
        position: relative;
        content: "";
        width: 103px;
        height: 5px;
        background: url('../images/doc_black.png') 0 0 repeat-x;
      }
      span {
        display: inline-block;
        font-size: 2.3rem;
        line-height: 1;
        font-family: $black;
        margin: 0 50px;
      }
    }
    &_wrap {
      margin-top: 95px;
      @media only screen and (max-width: 1100px) {
        padding: 0 15px;
      }
      ul {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        li {
          width: calc(33.33% - 20px);
          &:not(:nth-child(-n+3)) {
            margin-top: 50px;
            @media only screen and (max-width: 1100px) {
              margin-top: 0;
            }
          }
          @media only screen and (max-width: 1100px) {
            width: calc(50% - 20px);
            &:not(:nth-child(-n+2)) {
              margin-top: 40px;
            }
          }
          a {
            display: flex;
            flex-flow: row wrap;
            align-items: center;
            figure {
              width: 100%;
              margin-bottom: 20px;
              img {
                width: 100%;
                height: 226px;
                object-fit: cover;
                border-radius: 6px;
              }
            }
            em {
              font-style: normal;
              display: inline-flex;
              font-size: 1.9rem;
              line-height: 1;
              padding: 5px 15px;
              background: #000;
              color: #fff;
              margin-right: 10px;
              font-family: $medium;
            }
            time {
              font-size: 1.9rem;
              line-height: 1;
              font-family: $bold;
              display: inline-flex;
              color: gray;
            }
            span {
              display: block;
              width: 100%;
              font-size: 2rem;
              line-height: 3rem;
              margin-top: 15px;
              font-family: $bold;
            }
          }
        }
      }
    }
  }
}