@media screen and (min-width: 769px), print {
  .fv {
    background: url("../images/background_1.jpg") 0 0 no-repeat;
    -moz-background-size: cover;
         background-size: cover;
    text-align: center;
  }
  .fv img {
    max-width: 100%;
    width: auto;
    height: auto;
  }
  .s_first {
    position: relative;
    -webkit-transform: translateZ(0);
       -moz-transform: translateZ(0);
            transform: translateZ(0);
  }
  .s_first::before, .s_first::after {
    position: absolute;
    content: "";
    z-index: -1;
  }
  .s_first::before {
    left: 0;
    top: 0;
    width: 200.8px;
    height: 109.6px;
    background: url("../images/image_3.png") 0 0 no-repeat;
    -moz-background-size: contain;
         background-size: contain;
  }
  .s_first::after {
    right: 0;
    bottom: 0;
    width: 326.4px;
    height: 220px;
    background: url("../images/image_2.png") 0 0 no-repeat;
    -moz-background-size: contain;
         background-size: contain;
  }
}

@media only screen and (min-width: 769px) and (max-width: 1100px) {
  .s_first {
    padding: 0 43px;
  }
}

@media screen and (min-width: 769px), print {
  .s_first_main {
    padding: 100px 0 120px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
       -moz-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .s_first_main_l {
    /* max-width: calc(100% - 460px); */
    width: 54%;
    padding-right: 40px;
  }
  .s_first_main_l h2 {
    font-size: 0;
  }
  .s_first_main_l h2 img {
    max-width: 80%;
    width: auto;
    height: auto;
  }
  .s_first_main_l h3 {
    font-size: 3rem;
    line-height: 1;
    font-family: "Noto Sans JP Bold";
    margin-top: 60px;
    margin-bottom: 27px;
  }
  .s_first_main_l p {
    font-size: 2rem;
    line-height: 3.4rem;
    font-family: "Noto Sans JP DemiLight";
  }
  .s_first_main_l p + p {
    margin-top: 30px;
  }
  .s_first_main_f {
    max-width: 460px;
    width: 46.18182%;
    padding: 105px 0 0;
  }
  .s_first_main_f img {
    max-width: 100%;
    width: auto;
    height: auto;
  }
  .service_main {
    padding: 60px 0 87px 0;
  }
  .service_main h2 {
    text-align: center;
    font-size: 6.1rem;
    line-height: 1;
    font-family: "Noto Sans JP Bold";
    color: #000;
  }
  .service_main > p {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 30px;
  }
  .service_main > p::before, .service_main > p::after {
    position: relative;
    content: "";
    width: 82.4px;
    height: 5px;
    background: url("../images/doc_black.png") 0 0 repeat-x;
  }
  .service_main > p span {
    display: inline-block;
    font-size: 2.3rem;
    line-height: 1;
    font-family: "Noto Sans JP Black";
    margin: 0 50px;
  }
  .service_main_w {
    margin-top: 70px;
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around;
    padding: 0 32px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
  }
  .service_main_ar {
    max-width: 380px;
    width: 45.84942%;
  }
  .service_main_ar figure img {
    max-width: 100%;
    width: auto;
    height: auto;
  }
  .service_main_ar p {
    font-size: 1.8rem;
    line-height: 3.4rem;
    font-family: "Noto Sans JP DemiLight";
  }
  .service_main_ar_btn {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 30px;
  }
  .service_main_ar_btn a {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    width: 256px;
    height: 55.2px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -moz-border-radius: 27.2px;
         border-radius: 27.2px;
    background: #000;
    color: #fff;
    font-size: 2.2rem;
    font-family: "Noto Sans JP Medium";
  }
  .impres {
    background: #32B43C;
    padding: 60px 0 151px 0;
  }
  .impres_main h2 {
    text-align: center;
    font-size: 6.1rem;
    line-height: 1;
    font-family: "Noto Sans JP Bold";
    color: #fff;
  }
  .impres_main > p {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 30px;
  }
  .impres_main > p::before, .impres_main > p::after {
    position: relative;
    content: "";
    width: 82.4px;
    height: 5px;
    background: url("../images/doc_white.png") 0 0 repeat-x;
  }
  .impres_main > p span {
    display: inline-block;
    font-size: 2.3rem;
    line-height: 1;
    font-family: "Noto Sans JP Black";
    margin: 0 50px;
    color: #fff;
  }
  .impres_slider {
    margin-top: 70px;
  }
  .impres_slider::after {
    content: "";
    display: table;
    clear: both;
  }
  .impres_ar {
    width: 100%;
    background: #fff;
    padding: 32px 24px 50px 24px;
    display: -webkit-box !important;
    display: -webkit-flex !important;
    display: -moz-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: row-reverse;
       -moz-box-orient: horizontal;
       -moz-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
       -moz-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .impres_ar figure {
    width: 300px;
  }
  .impres_ar figure img {
    width: 100%;
    height: auto;
  }
  .impres_ar_txt {
    font-size: 1.6rem;
    line-height: 3.4rem;
    font-family: "Noto Sans JP DemiLight";
    margin-top: 12px;
    width: -webkit-calc(100% - 330px);
    width: -moz-calc(100% - 330px);
    width: calc(100% - 330px);
  }
  .impres .slick-dots {
    position: absolute;
    bottom: -82px;
    list-style: none;
    display: block;
    text-align: center;
    padding: 0;
    margin: 0;
    width: 100%;
  }
  .impres .slick-dots li {
    position: relative;
    display: inline-block;
    height: 20px;
    width: 20px;
    margin: 0 5px;
    padding: 0;
    cursor: pointer;
  }
  .impres .slick-dots li button {
    border: 0;
    background: transparent;
    display: block;
    height: 20px;
    width: 20px;
    outline: none;
    line-height: 0px;
    font-size: 0px;
    color: transparent;
    padding: 5px;
    cursor: pointer;
  }
  .impres .slick-dots li button:hover, .impres .slick-dots li button:focus {
    outline: none;
  }
  .impres .slick-dots li button:hover:before, .impres .slick-dots li button:focus:before {
    opacity: 0.8;
  }
  .impres .slick-dots li button:before {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    width: 20px;
    height: 20px;
    line-height: 20px;
    background: rgba(255, 255, 255, 0.6);
    -moz-border-radius: 50%;
         border-radius: 50%;
  }
  .impres .slick-dots li.slick-active button:before {
    background: white;
  }
  .profile {
    background: #F6F6F6;
  }
  .profile_main {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
       -moz-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 32px 0 0;
  }
  .profile_main_f {
    width: 350px;
  }
  .profile_main_f img {
    width: 100%;
    height: auto;
  }
  .profile_main_i {
    width: 644px;
    padding: 45px 35px;
  }
  .profile_main_i h2 {
    font-size: 9rem;
    line-height: 1;
    font-family: "Noto Sans JP Black";
    color: #FF0000;
    position: relative;
    margin-bottom: 23px;
  }
  .profile_main_i h3 {
    font-size: 2.3rem;
    line-height: 1;
    font-family: "Noto Sans JP Bold";
    color: #000;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #E0E0E0;
  }
  .profile_main_i p {
    font-size: 1.8rem;
    line-height: 3.4rem;
    font-family: "Noto Sans JP DemiLight";
  }
  .profile_main_i p + p {
    margin-top: 30px;
  }
  .profile_main_s {
    margin-top: 50px;
  }
  .profile_main_s ul {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
  }
  .profile_main_s ul li {
    width: 55.2px;
  }
  .profile_main_s ul li:not(:last-child) {
    margin-right: 20px;
  }
  .profile_main_s ul li a {
    display: block;
    width: 100%;
  }
  .profile_main_s ul li a img {
    width: 100%;
    height: auto;
    -moz-border-radius: 50%;
         border-radius: 50%;
  }
  .lastest_main {
    padding: 90px 0 160px;
  }
  .lastest_main h2 {
    text-align: center;
    font-size: 6.1rem;
    line-height: 1;
    font-family: "Noto Sans JP Bold";
    color: #000;
  }
  .lastest_main > p {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 30px;
  }
  .lastest_main > p::before, .lastest_main > p::after {
    position: relative;
    content: "";
    width: 103px;
    height: 5px;
    background: url("../images/doc_black.png") 0 0 repeat-x;
  }
  .lastest_main > p span {
    display: inline-block;
    font-size: 2.3rem;
    line-height: 1;
    font-family: "Noto Sans JP Black";
    margin: 0 50px;
  }
  .lastest_main_wrap {
    margin-top: 95px;
  }
}

@media only screen and (min-width: 769px) and (max-width: 1100px) {
  .lastest_main_wrap {
    padding: 0 15px;
  }
}

@media screen and (min-width: 769px), print {
  .lastest_main_wrap ul {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-flow: row wrap;
       -moz-box-orient: horizontal;
       -moz-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
       -moz-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .lastest_main_wrap ul li {
    width: -webkit-calc(33.33% - 20px);
    width: -moz-calc(33.33% - 20px);
    width: calc(33.33% - 20px);
  }
  .lastest_main_wrap ul li:not(:nth-child(-n+3)) {
    margin-top: 50px;
  }
}

@media only screen and (min-width: 769px) and (max-width: 1100px) {
  .lastest_main_wrap ul li:not(:nth-child(-n+3)) {
    margin-top: 0;
  }
}

@media only screen and (min-width: 769px) and (max-width: 1100px) {
  .lastest_main_wrap ul li {
    width: -webkit-calc(50% - 20px);
    width: -moz-calc(50% - 20px);
    width: calc(50% - 20px);
  }
  .lastest_main_wrap ul li:not(:nth-child(-n+2)) {
    margin-top: 40px;
  }
}

@media screen and (min-width: 769px), print {
  .lastest_main_wrap ul li a {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-flow: row wrap;
       -moz-box-orient: horizontal;
       -moz-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .lastest_main_wrap ul li a figure {
    width: 100%;
    margin-bottom: 20px;
  }
  .lastest_main_wrap ul li a figure img {
    width: 100%;
    height: 226px;
    object-fit: cover;
    -moz-border-radius: 6px;
         border-radius: 6px;
  }
  .lastest_main_wrap ul li a em {
    font-style: normal;
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -moz-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    font-size: 1.9rem;
    line-height: 1;
    padding: 5px 15px;
    background: #000;
    color: #fff;
    margin-right: 10px;
    font-family: "Noto Sans JP Medium";
  }
  .lastest_main_wrap ul li a time {
    font-size: 1.9rem;
    line-height: 1;
    font-family: "Noto Sans JP Bold";
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -moz-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    color: gray;
  }
  .lastest_main_wrap ul li a span {
    display: block;
    width: 100%;
    font-size: 2rem;
    line-height: 3rem;
    margin-top: 15px;
    font-family: "Noto Sans JP Bold";
  }
}

@media screen and (max-width: 768px) {
  .s_first {
    position: relative;
    -webkit-transform: translateZ(0);
       -moz-transform: translateZ(0);
            transform: translateZ(0);
  }
  .s_first_main {
    padding: 6.2724vw 0 0;
  }
  .s_first_main_l {
    width: 100%;
    padding: 0 3.58423vw;
  }
  .s_first_main_l h2 {
    font-size: 0;
  }
  .s_first_main_l h3 {
    font-size: 5.01792vw;
    line-height: 1;
    font-family: "Noto Sans JP Bold";
    margin-top: 8.96057vw;
    margin-bottom: 27px;
  }
  .s_first_main_l p {
    font-size: 3.94265vw;
    line-height: 1.6;
    font-family: "Noto Sans JP DemiLight";
  }
  .s_first_main_l p + p {
    margin-top: 5.37634vw;
  }
  .s_first_main_f {
    width: 100%;
  }
  .service_main {
    padding: 14.33692vw 0 87px 0;
  }
  .service_main h2 {
    text-align: center;
    font-size: 9.85663vw;
    line-height: 1;
    font-family: "Noto Sans JP Bold";
    color: #000;
  }
  .service_main > p {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 4.83871vw;
  }
  .service_main > p::before, .service_main > p::after {
    position: relative;
    content: "";
    width: 18.45878vw;
    height: 0.89606vw;
    background: url("../images/doc_black.png") 0 0 repeat-x;
    -moz-background-size: 2.50896vw 0.89606vw;
         background-size: 2.50896vw 0.89606vw;
  }
  .service_main > p span {
    display: inline-block;
    font-size: 4.12186vw;
    line-height: 1;
    font-family: "Noto Sans JP Black";
    margin: 0 7.8853vw;
  }
  .service_main_w {
    margin-top: 12.5448vw;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
       -moz-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0 3.58423vw;
  }
  .service_main_ar:not(:first-child) {
    margin-top: 14.87455vw;
  }
  .service_main_ar figure img {
    max-width: 100%;
    width: auto;
    height: auto;
  }
  .service_main_ar h3 {
    font-size: 5.55556vw;
    line-height: 1;
    font-family: "Noto Sans JP Black";
    margin-top: 7.16846vw;
    margin-bottom: 7.16846vw;
  }
  .service_main_ar p {
    font-size: 3.94265vw;
    line-height: 1.5;
    font-family: "Noto Sans JP DemiLight";
  }
  .service_main_ar_btn {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 5.37634vw;
  }
  .service_main_ar_btn a {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    width: 52.32975vw;
    height: 14.69534vw;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -moz-border-radius: 7.34767vw;
         border-radius: 7.34767vw;
    background: #000;
    color: #fff;
    font-size: 5.37634vw;
    font-family: "Noto Sans JP Medium";
  }
  .impres {
    background: #32B43C;
    padding: 10.75269vw 0 16.84588vw 0;
  }
  .impres_main h2 {
    text-align: center;
    font-size: 9.85663vw;
    line-height: 1.3;
    font-family: "Noto Sans JP Bold";
    color: #fff;
  }
  .impres_main > p {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 4.83871vw;
    color: #fff;
    padding-bottom: 5.37634vw;
    position: relative;
  }
  .impres_main > p::before {
    position: absolute;
    content: "";
    width: 18.45878vw;
    height: 0.89606vw;
    background: url("../images/doc_white.png") 0 0 repeat-x;
    -moz-background-size: 2.50896vw 0.89606vw;
         background-size: 2.50896vw 0.89606vw;
    left: 50%;
    -webkit-transform: translateX(-50%);
       -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    bottom: 0;
  }
  .impres_main > p span {
    display: inline-block;
    font-size: 4.12186vw;
    line-height: 1;
    font-family: "Noto Sans JP Black";
  }
  .impres_slider {
    margin-top: 8.96057vw;
    padding: 0 3.58423vw;
  }
  .impres_slider::after {
    content: "";
    display: table;
    clear: both;
  }
  .impres_ar {
    width: 100%;
    background: #fff;
    padding: 4.83871vw 5.37634vw 8.06452vw 5.37634vw;
  }
  .impres_ar figure {
    width: 100%;
  }
  .impres_ar figure img {
    width: 100%;
    height: auto;
  }
  .impres_ar_txt {
    font-size: 3.58423vw;
    line-height: 1.6;
    font-family: "Noto Sans JP DemiLight";
    margin-top: 2.15054vw;
  }
  .impres .slick-dots {
    position: absolute;
    bottom: -9.85663vw;
    list-style: none;
    display: block;
    text-align: center;
    padding: 0;
    margin: 0;
    width: 100%;
  }
  .impres .slick-dots li {
    position: relative;
    display: inline-block;
    height: 3.58423vw;
    width: 3.58423vw;
    margin: 0 0.89606vw;
    padding: 0;
    cursor: pointer;
  }
  .impres .slick-dots li button {
    border: 0;
    background: transparent;
    display: block;
    height: 3.58423vw;
    width: 3.58423vw;
    outline: none;
    line-height: 0px;
    font-size: 0px;
    color: transparent;
    padding: 0.89606vw;
    cursor: pointer;
  }
  .impres .slick-dots li button:hover, .impres .slick-dots li button:focus {
    outline: none;
  }
  .impres .slick-dots li button:hover:before, .impres .slick-dots li button:focus:before {
    opacity: 0.8;
  }
  .impres .slick-dots li button:before {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    width: 3.58423vw;
    height: 3.58423vw;
    background: rgba(255, 255, 255, 0.6);
    -moz-border-radius: 50%;
         border-radius: 50%;
  }
  .impres .slick-dots li.slick-active button:before {
    background: white;
  }
  .profile {
    background: url("../images/background_3.jpg") 0 0 no-repeat;
    -moz-background-size: cover;
         background-size: cover;
  }
  .profile_main_f {
    width: 100%;
  }
  .profile_main_f img {
    width: 100%;
    height: auto;
  }
  .profile_main_i {
    width: 100%;
    background: #fff;
    padding: 4.48029vw 3.58423vw;
  }
  .profile_main_i h2 {
    display: none;
  }
  .profile_main_i h3 {
    font-size: 4.48029vw;
    line-height: 1;
    font-family: "Noto Sans JP Bold";
    color: #000;
    margin-bottom: 3.58423vw;
  }
  .profile_main_i p {
    font-size: 3.58423vw;
    line-height: 1.6;
    font-family: "Noto Sans JP DemiLight";
  }
  .profile_main_s {
    margin-top: 7.16846vw;
    padding-top: 4.83871vw;
    border-top: 0.71685vw solid #ff0000;
  }
  .profile_main_s ul {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
  }
  .profile_main_s ul li {
    width: 12.36559vw;
  }
  .profile_main_s ul li:not(:last-child) {
    margin-right: 3.58423vw;
  }
  .profile_main_s ul li a {
    display: block;
    width: 100%;
  }
  .profile_main_s ul li a img {
    width: 100%;
    height: auto;
    -moz-border-radius: 50%;
         border-radius: 50%;
  }
  .lastest_main {
    padding: 13.79928vw 0 4.48029vw;
  }
  .lastest_main h2 {
    text-align: center;
    font-size: 9.85663vw;
    line-height: 1;
    font-family: "Noto Sans JP Bold";
    color: #000;
  }
  .lastest_main > p {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 4.83871vw;
    color: #000;
    padding-bottom: 5.37634vw;
    position: relative;
  }
  .lastest_main > p::before {
    position: absolute;
    content: "";
    width: 18.45878vw;
    height: 0.89606vw;
    background: url("../images/doc_black.png") 0 0 repeat-x;
    -moz-background-size: 2.50896vw 0.89606vw;
         background-size: 2.50896vw 0.89606vw;
    left: 50%;
    -webkit-transform: translateX(-50%);
       -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    bottom: 0;
  }
  .lastest_main > p span {
    display: inline-block;
    font-size: 4.12186vw;
    line-height: 1;
    font-family: "Noto Sans JP Black";
  }
  .lastest_main_wrap {
    margin-top: 10.21505vw;
  }
  .lastest_main_wrap ul li {
    padding: 2.68817vw 3.58423vw;
    border-top: 1px solid #B3B3B3;
  }
  .lastest_main_wrap ul li a {
    display: block;
  }
  .lastest_main_wrap ul li a::after {
    content: "";
    clear: both;
    display: table;
  }
  .lastest_main_wrap ul li a figure {
    float: left;
    width: 23.83513vw;
    margin-right: 4.48029vw;
  }
  .lastest_main_wrap ul li a figure img {
    width: 100%;
    height: auto;
    -moz-border-radius: 1.07527vw;
         border-radius: 1.07527vw;
  }
  .lastest_main_wrap ul li a em {
    font-style: normal;
    font-size: 3.22581vw;
    line-height: 1;
    padding: 0.89606vw 1.79211vw;
    background: #000;
    color: #fff;
    font-family: "Noto Sans JP Medium";
    float: left;
    margin-right: 1.79211vw;
  }
  .lastest_main_wrap ul li a time {
    font-size: 3.22581vw;
    line-height: 1;
    font-family: "Noto Sans JP Bold";
    margin-top: 0.89606vw;
    display: inline-block;
    color: gray;
  }
  .lastest_main_wrap ul li a span {
    display: block;
    font-size: 3.58423vw;
    line-height: 1.6;
    margin-top: 1.79211vw;
    font-family: "Noto Sans JP Bold";
  }
}

@-webkit-keyframes scrollDown {
  0% {
    left: 0;
    top: 0;
  }
  25% {
    top: 100%;
  }
  50% {
    left: 1px;
    top: -100%;
  }
  75% {
    top: 0%;
  }
  85% {
    left: 1px;
    top: -100%;
  }
  100% {
    left: 0;
    top: 0;
  }
}

@-moz-keyframes scrollDown {
  0% {
    left: 0;
    top: 0;
  }
  25% {
    top: 100%;
  }
  50% {
    left: 1px;
    top: -100%;
  }
  75% {
    top: 0%;
  }
  85% {
    left: 1px;
    top: -100%;
  }
  100% {
    left: 0;
    top: 0;
  }
}

@keyframes scrollDown {
  0% {
    left: 0;
    top: 0;
  }
  25% {
    top: 100%;
  }
  50% {
    left: 1px;
    top: -100%;
  }
  75% {
    top: 0%;
  }
  85% {
    left: 1px;
    top: -100%;
  }
  100% {
    left: 0;
    top: 0;
  }
}
