@media screen and (min-width: 769px), print {
  .p_profile .row {
    max-width: 1000px;
  }
  .banner {
    background-color: #F5F3F4;
    /* .row {
    max-width: 1000px;
  } */
  }
  .banner img {
    width: auto;
    height: auto;
    max-width: 100%;
  }
  .bx_art article {
    margin-top: 110px;
  }
  .bx_art article:nth-of-type(2) h3:before {
    background-color: #808080;
  }
  .bx_art article:nth-of-type(3) h3:before {
    background-color: #0071BC;
  }
  .bx_art article:nth-of-type(4) h3:before {
    background-color: #FF0000;
  }
  .bx_art article:nth-of-type(5) h3:before {
    background-color: #FCC800;
  }
  .bx_art article h3 {
    font-size: 5.1rem;
    line-height: 1.5;
    font-family: "Noto Sans JP Black";
    font-weight: normal;
    position: relative;
    margin-bottom: 60px;
  }
  .bx_art article h3:before {
    content: "";
    width: 126px;
    height: 5px;
    background-color: #ff0000;
    position: absolute;
    bottom: -20px;
    left: 0;
  }
  .bx_art article .main_art p {
    font-size: 2rem;
    line-height: 37px;
    font-family: "Noto Sans JP DemiLight";
  }
  .bx_art article .main_art p + p {
    margin-top: 42px;
  }
  .bx_art article .main_art h4 {
    font-size: 3.1rem;
    line-height: 45px;
    font-family: "Noto Sans JP Bold";
    margin: 45px 0;
  }
  .bx_profile {
    margin: 100px 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
       -moz-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .bx_profile figure {
    width: 342px;
  }
  .bx_profile figure img {
    width: 100%;
    height: auto;
  }
  .bx_profile_txt {
    width: -webkit-calc(100% - 342px);
    width: -moz-calc(100% - 342px);
    width: calc(100% - 342px);
    padding-left: 25px;
  }
  .bx_profile_txt h3 {
    font-size: 4.7rem;
    line-height: 1;
    font-family: "Noto Sans JP Black";
    margin-bottom: 20px;
  }
  .bx_profile_txt h3 span {
    font-size: 3.3rem;
  }
  .bx_profile_txt em {
    font-style: normal;
    font-size: 1.8rem;
    line-height: 34px;
    font-family: "Noto Sans JP DemiLight";
  }
}

@media only screen and (min-width: 769px) and (max-width: 1100px) and (min-width: 769px) {
  .bx_art .row {
    padding: 0 40px;
  }
}

@media screen and (max-width: 768px) {
  .banner {
    background-color: #F5F3F4;
  }
  .banner img {
    width: 100%;
    height: auto;
  }
  .bx_art .row {
    padding: 0 5.37634vw;
  }
  .bx_art article {
    margin-top: 10.75269vw;
  }
  .bx_art article:nth-of-type(2) h3:before {
    background-color: #808080;
  }
  .bx_art article:nth-of-type(3) h3:before {
    background-color: #0071BC;
  }
  .bx_art article:nth-of-type(4) h3:before {
    background-color: #FF0000;
  }
  .bx_art article:nth-of-type(5) h3:before {
    background-color: #FCC800;
  }
  .bx_art article h3 {
    font-size: 7.16846vw;
    line-height: 1.5;
    font-family: "Noto Sans JP Black";
    font-weight: normal;
    position: relative;
    margin-bottom: 10.75269vw;
  }
  .bx_art article h3:before {
    content: "";
    width: 22.40143vw;
    height: 0.89606vw;
    background-color: #ff0000;
    position: absolute;
    bottom: -3.58423vw;
    left: 0;
  }
  .bx_art article .main_art p {
    font-size: 3.94265vw;
    line-height: 1.5;
    font-family: "Noto Sans JP DemiLight";
  }
  .bx_art article .main_art p + p {
    margin-top: 5.37634vw;
  }
  .bx_art article .main_art h4 {
    font-size: 5.01792vw;
    line-height: 1.5;
    font-family: "Noto Sans JP Bold";
    margin: 5.37634vw 0;
  }
  .bx_profile {
    margin: 8.96057vw 0;
  }
  .bx_profile figure img {
    width: 100%;
    height: auto;
  }
  .bx_profile_txt {
    margin-top: 5.37634vw;
  }
  .bx_profile_txt h3 {
    font-size: 7.52688vw;
    line-height: 1;
    font-family: "Noto Sans JP Black";
    margin-bottom: 20px;
  }
  .bx_profile_txt h3 span {
    font-size: 5.01792vw;
  }
  .bx_profile_txt em {
    font-style: normal;
    font-size: 3.58423vw;
    line-height: 1.5;
    font-family: "Noto Sans JP DemiLight";
  }
}
