@charset "utf-8";
// ===================================================================
//  use index page
// ===================================================================
.banner {
  background-color: #F5F3F4;
  img {
    width: 100%;
    height: auto;
  }
}

.bx_art {
  .row {
    padding: 0 vw(30);
  }
  article {
    margin-top: vw(60);
    &:nth-of-type(2) {
      h3 {
        &:before {
          background-color: #808080;
        }
      }
    }
    &:nth-of-type(3) {
      h3 {
        &:before {
          background-color: #0071BC;
        }
      }
    }
    &:nth-of-type(4) {
      h3 {
        &:before {
          background-color: #FF0000;
        }
      }
    }
    &:nth-of-type(5) {
      h3 {
        &:before {
          background-color: #FCC800;
        }
      }
    }
    h3 {
      font-size: vw(40);
      line-height: 1.5;
      font-family: $black;
      font-weight: normal;
      position: relative;
      margin-bottom: vw(60);
      &:before {
        content: "";
        width: vw(125);
        height: vw(5);
        background-color: #ff0000;
        position: absolute;
        bottom: vw(-20);
        left: 0;
      }
    }
    .main_art {
      p {
        font-size: vw(22);
        line-height: 1.5;
        font-family: $light;
        +p {
          margin-top: vw(30);
        }
      }
      h4 {
        font-size: vw(28);
        line-height: 1.5;
        font-family: $bold;
        margin: vw(30) 0;
      }
    }
  }
}

.bx_profile {
  margin: vw(50) 0;
  figure {
    img {
      width: 100%;
      height: auto;
    }
  }
  &_txt {
    margin-top: vw(30);
    h3 {
      font-size: vw(42);
      line-height: 1;
      font-family: $black;
      margin-bottom: 20px;
      span {
        font-size: vw(28);
      }
    }
    em {
      font-style: normal;
      font-size: vw(20);
      line-height: 1.5;
      font-family: $light;
    }
  }
}