@charset "utf-8";
// ===================================================================
//  use index page
// ===================================================================
.p_profile{
  .row {
    max-width: 1000px;
  }
}
.banner {
  background-color: #F5F3F4;
  /* .row {
    max-width: 1000px;
  } */
  img {
    width: auto;
    height: auto;
    max-width: 100%;
  }
}

.bx_art {
  article {
    margin-top: 110px;
    &:nth-of-type(2) {
      h3 {
        &:before {
          background-color: #808080;
        }
      }
    }
    &:nth-of-type(3) {
      h3 {
        &:before {
          background-color: #0071BC;
        }
      }
    }
    &:nth-of-type(4) {
      h3 {
        &:before {
          background-color: #FF0000;
        }
      }
    }
    &:nth-of-type(5) {
      h3 {
        &:before {
          background-color: #FCC800;
        }
      }
    }
    h3 {
      font-size: rem(51);
      line-height: 1.5;
      font-family: $black;
      font-weight: normal;
      position: relative;
      margin-bottom: 60px;
      &:before {
        content: "";
        width: 126px;
        height: 5px;
        background-color: #ff0000;
        position: absolute;
        bottom: -20px;
        left: 0;
      }
    }
    .main_art {
      p {
        font-size: rem(20);
        line-height: 37px;
        font-family: $light;
        +p {
          margin-top: 42px;
        }
      }
      h4 {
        font-size: rem(31);
        line-height: 45px;
        font-family: $bold;
        margin: 45px 0;
      }
    }
  }
}

.bx_profile {
  margin: 100px 0;
  display: flex;
  justify-content: space-between;
  figure {
    width: 342px;
    img {
      width: 100%;
      height: auto;
    }
  }
  &_txt {
    width: calc(100% - 342px);
    padding-left: 25px;
    h3 {
      font-size: rem(47);
      line-height: 1;
      font-family: $black;
      margin-bottom: 20px;
      span {
        font-size: rem(33);
      }
    }
    em {
      font-style: normal;
      font-size: rem(18);
      line-height: 34px;
      font-family: $light;
    }
  }
}

@media only screen and (max-width: 1100px) and (min-width: 769px) {
  .bx_art {
    .row {
      padding: 0 40px;
    }
  }
}