@charset "utf-8";
// ===================================================================
//  use index page
// ===================================================================
.banner {
  figure {
    position: relative;
    img {
      width: 100%;
      height: auto;
    }
    figcaption {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}

.txt_top {
  background: linear-gradient(90deg, rgba(255, 22, 56, 1) 0%, rgba(255, 46, 116, 1) 100%);
  text-align: center;
  padding: vw(30);
}

.bx_first {
  margin: vw(60) 0 0 0;
  .row {
    padding: 0 vw(30);
  }
  figure {
    margin-bottom: vw(50);
  }
  p {
    font-size: vw(22);
    line-height: 1.5;
    font-family: $light;
    +p {
      margin-top: vw(30);
    }
  }
}

.bx_second {
  margin: vw(80) 0 0 0;
  .row {
    padding: 0 vw(30);
  }
  .bx_txt {
    background-image: linear-gradient(to right, #B3B3B3 50%, rgba(255, 255, 255, 0) 0%), linear-gradient(to right, #B3B3B3 50%, rgba(255, 255, 255, 0) 0%);
    background-position: top, bottom;
    background-size: vw(6) vw(3);
    background-repeat: repeat-x;
    padding: vw(40) 0;
    margin-top: vw(60);
    &:not(:last-child) {
      margin-bottom: vw(60);
    }
    &:last-child {
      margin-bottom: vw(100);
    }
    p {
      font-size: vw(22);
      line-height: 1.5;
      font-family: $light;
      +p {
        margin-top: vw(30);
      }
    }
  }
}

.bx_three {
  background-color: #F6F2F4;
  padding: vw(60) 0 0 0;
  .row {
    padding: 0 vw(30);
  }
  &_txt {
    margin-top: vw(50);
    &_r {
      margin: vw(30) 0 0;
      padding-bottom: vw(120);
      p {
        font-size: vw(22);
        line-height: 1.5;
        font-family: $light;
        +p {
          margin-top: vw(30);
        }
      }
    }
  }
}

.bx_four {
  background-color: #32B43C;
  padding: 0 vw(30) vw(30);
  .row {
    padding: 0 vw(30);
  }
  h3 {
    text-align: center;
    padding: vw(20) 0;
  }
  &_w {
    background-color: #fff;
    padding: vw(40) 0;
    figure {
      text-align: center;
      margin: 0 0 vw(40);
    }
    h4 {
      margin-bottom: vw(30);
    }
    p {
      font-size: vw(22);
      line-height: 1.5;
      font-family: $light;
      +p {
        margin-top: vw(30);
      }
      .red {
        color: #FF0000;
      }
      strong {
        font-size: vw(24);
        line-height: 1.5;
      }
    }
  }
}