@charset "utf-8";
// ===================================================================
//  use index page
// ===================================================================
.p_golden{
  .row{
    max-width: 1000px;
  }
}
.banner {
  figure {
    position: relative;
    img {
      width: 100%;
      height: auto;
    }
    figcaption {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}

.txt_top {
  background: linear-gradient(90deg, rgba(255, 22, 56, 1) 0%, rgba(255, 46, 116, 1) 100%);
  text-align: center;
  padding: 46px 0;
  .row {
    padding: 0 30px;
  }
  img {
    max-width: 80%;
    width: auto;
    height: auto;
  }
}

.bx_first {
  margin: 96px 0 0 0;
  figure {
    margin-bottom: 85px;
    img {
      max-width: 80%;
      width: auto;
      height: auto;
    }
  }
  p {
    font-size: rem(21);
    line-height: 38px;
    font-family: $light;
    +p {
      margin-top: 50px;
    }
  }
}

.bx_second {
  margin: 115px 0 0 0;
  figure {
    img {
      max-width: 80%;
      width: auto;
      height: auto;
    }
  }
  .bx_txt {
    background-image: linear-gradient(to right, #B3B3B3 50%, rgba(255, 255, 255, 0) 0%), linear-gradient(to right, #B3B3B3 50%, rgba(255, 255, 255, 0) 0%);
    background-position: top, bottom;
    background-size: 6px 3px;
    background-repeat: repeat-x;
    padding: 45px 0;
    margin-top: 58px;
    &:not(:last-child) {
      margin-bottom: 115px;
    }
    &:last-child {
      margin-bottom: 160px;
    }
    p {
      font-size: rem(21);
      line-height: 38px;
      font-family: $light;
      +p {
        margin-top: 50px;
      }
    }
  }
}

.bx_three {
  background-color: #F6F2F4;
  padding: 159px 0 0 0;
  figure {
    text-align: center;
    img {
      max-width: 80%;
      width: auto;
      height: auto;
      margin-top: 40px;
    }
  }
  &_txt {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    &_r {
      margin-top: 20px;
      padding: 0 0 80px 30px;
      p {
        font-size: rem(20);
        line-height: 36px;
        font-family: $light;
        +p {
          margin-top: 45px;
        }
      }
    }
  }
}

.bx_four {
  background-color: #32B43C;
  padding: 0 0 100px;
  h3 {
    text-align: center;
    padding: 27px 0 17px;
    img {
      max-width: 80%;
      width: auto;
      height: auto;
    }
  }
  &_w {
    background-color: #fff;
    padding: 40px 20px 90px;
    figure {
      margin: 0 0 55px;
      img {
        max-width: 80%;
        width: auto;
        height: auto;
      }
    }
    h4 {
      margin-bottom: 20px;
      img {
        max-width: 80%;
        width: auto;
        height: auto;
      }
    }
    p {
      font-size: rem(21);
      line-height: 38px;
      font-family: $light;
      +p {
        margin-top: 50px;
      }
      .red {
        color: #FF0000;
      }
      strong {
        font-size: rem(29);
        line-height: 42px;
      }
    }
  }
}

@media only screen and (max-width: 1100px) and (min-width: 769px) {
  .row {
    padding: 0 40px;
  }
  .txt_top {
    padding: 40px;
  }
  .bx_three {
    padding: 100px 0 0 0;
    &_txt {
      figure {
        width: 300px;
        display: flex;
        align-items: flex-end;
        margin-left: -35px;
      }
      &_r {
        width: calc(100% - 265px);
        padding: 0 0 40px 0;
      }
    }
  }
  .bx_four {
    padding: 0 50px 50px;
    &_w {
      padding: 40px 0 90px;
    }
  }
}